﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:105px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:230px;
  top:105px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:329px;
  top:518px;
  width:133px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  visibility:hidden;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:265px;
  top:199px;
  width:179px;
  height:63px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:63px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:396px;
  top:553px;
  width:27px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:308px;
  top:556px;
  width:22px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:495px;
  top:556px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:411px;
  top:219px;
  width:179px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:329px;
  top:316px;
  width:178px;
  height:162px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:162px;
}
#u17 {
  position:absolute;
  left:2px;
  top:73px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:391px;
  top:488px;
  width:54px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:398px;
  top:514px;
  width:41px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:526px;
  top:487px;
  width:102px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u23 {
  position:absolute;
  left:638px;
  top:478px;
  width:261px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:56px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:308px;
  top:596px;
  width:230px;
  height:64px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:518px;
  top:613px;
  width:102px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:102px;
  height:1px;
}
#u28 {
  position:absolute;
  left:630px;
  top:600px;
  width:261px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:687px;
  top:25px;
  width:261px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1003px;
  top:239px;
  width:261px;
  height:355px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:355px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
