﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:371px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:95px;
  width:1320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:60px;
  top:190px;
  width:902px;
  height:69px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:69px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:60px;
  top:145px;
  width:156px;
  height:25px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:60px;
  top:391px;
  width:445px;
  height:138px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:138px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:60px;
  top:346px;
  width:174px;
  height:25px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
