﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:170px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:170px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:196px;
  width:360px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:196px;
  width:360px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:206px;
  width:160px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:120px;
  top:212px;
  width:23px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:137px;
  top:268px;
  width:326px;
  height:47px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:152px;
  top:281px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:137px;
  top:315px;
  width:326px;
  height:47px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:152px;
  top:328px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:137px;
  top:361px;
  width:326px;
  height:47px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:152px;
  top:374px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:137px;
  top:425px;
  width:326px;
  height:47px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:152px;
  top:438px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:437px;
  top:278px;
  width:26px;
  height:26px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:437px;
  top:326px;
  width:26px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:437px;
  top:371px;
  width:26px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:437px;
  top:435px;
  width:26px;
  height:26px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:418px;
  top:281px;
  width:21px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1020px;
  top:170px;
  width:360px;
  height:640px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u39 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1020px;
  top:170px;
  width:360px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1020px;
  top:196px;
  width:360px;
  height:55px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1020px;
  top:196px;
  width:360px;
  height:55px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u45 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1050px;
  top:206px;
  width:160px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1020px;
  top:212px;
  width:23px;
  height:21px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1040px;
  top:320px;
  width:326px;
  height:47px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1040px;
  top:367px;
  width:326px;
  height:47px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u53 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1053px;
  top:334px;
  width:86px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1053px;
  top:381px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1305px;
  top:330px;
  width:50px;
  height:27px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1305px;
  top:377px;
  width:50px;
  height:27px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:27px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1365px;
  top:335px;
  width:89px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u63 {
  position:absolute;
  left:1464px;
  top:252px;
  width:259px;
  height:110px;
  font-size:18px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:111px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:951px;
  top:390px;
  width:89px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u66 {
  position:absolute;
  left:798px;
  top:371px;
  width:153px;
  height:66px;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:67px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:463px;
  top:438px;
  width:557px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:548px;
  top:-5px;
  width:14px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:4px;
  width:557px;
  height:2px;
}
#u69 {
  position:absolute;
  left:680px;
  top:450px;
  width:156px;
  height:22px;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:12px;
  top:105px;
  width:2050px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:4px;
  width:2050px;
  height:2px;
}
#u72 {
  position:absolute;
  left:23px;
  top:38px;
  width:97px;
  height:55px;
  font-size:48px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:56px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:1750px;
  top:196px;
  width:340px;
  height:200px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:201px;
}
#u75 {
  position:absolute;
  left:2px;
  top:92px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1750px;
  top:254px;
  width:340px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:331px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u77 {
  position:absolute;
  left:1892px;
  top:214px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1773px;
  top:276px;
  width:300px;
  height:50px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1750px;
  top:336px;
  width:340px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:331px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u82 {
  position:absolute;
  left:1914px;
  top:346px;
  width:10px;
  height:50px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:41px;
  width:20px;
  height:14px;
}
#u82_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u83 {
  position:absolute;
  left:1814px;
  top:358px;
  width:37px;
  height:19px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1988px;
  top:358px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1875px;
  top:446px;
  width:89px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u87_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:14px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  height:2px;
}
#u88 {
  position:absolute;
  left:1763px;
  top:506px;
  width:314px;
  height:110px;
  font-size:18px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:111px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1040px;
  top:263px;
  width:326px;
  height:47px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u91 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1055px;
  top:276px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1340px;
  top:273px;
  width:26px;
  height:26px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u95 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:951px;
  top:285px;
  width:89px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:14px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u97 {
  position:absolute;
  left:798px;
  top:281px;
  width:153px;
  height:19px;
  font-size:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
