﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:17px;
  width:169px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:64px;
  width:1569px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1552px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1569px;
  height:1px;
}
#u3 {
  position:absolute;
  left:214px;
  top:168px;
  width:846px;
  height:1032px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:1032px;
}
#u4 {
  position:absolute;
  left:2px;
  top:508px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
