﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:98px;
  width:984px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:975px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:984px;
  height:1px;
}
#u1 {
  position:absolute;
  left:62px;
  top:43px;
  width:518px;
  height:40px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:46px;
  top:170px;
  width:150px;
  height:72px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:73px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:238px;
  top:170px;
  width:732px;
  height:49px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:728px;
  word-wrap:break-word;
}
