﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:720px;
  top:668px;
  width:172px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u1 {
  position:absolute;
  left:742px;
  top:695px;
  width:150px;
  height:36px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:480px;
  top:306px;
  width:693px;
  height:90px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:91px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:480px;
  top:200px;
  width:567px;
  height:40px;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:41px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:420px;
  top:257px;
  width:1363px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1354px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1363px;
  height:1px;
}
#u8 {
  position:absolute;
  left:929px;
  top:448px;
  width:230px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:929px;
  top:464px;
  width:230px;
  height:388px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:389px;
}
#u11 {
  position:absolute;
  left:2px;
  top:186px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:929px;
  top:494px;
  width:230px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u13 {
  position:absolute;
  left:945px;
  top:450px;
  width:60px;
  height:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:939px;
  top:472px;
  width:18px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:965px;
  top:472px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:939px;
  top:548px;
  width:210px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u20 {
  position:absolute;
  left:951px;
  top:514px;
  width:28px;
  height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:989px;
  top:510px;
  width:36px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:951px;
  top:562px;
  width:28px;
  height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:989px;
  top:560px;
  width:36px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:939px;
  top:650px;
  width:210px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:14px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u29 {
  position:absolute;
  left:951px;
  top:616px;
  width:28px;
  height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:991px;
  top:616px;
  width:36px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:951px;
  top:668px;
  width:28px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:991px;
  top:664px;
  width:36px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:939px;
  top:596px;
  width:210px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u38 {
  position:absolute;
  left:1140px;
  top:514px;
  width:9px;
  height:274px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:274px;
}
#u39 {
  position:absolute;
  left:2px;
  top:129px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:939px;
  top:702px;
  width:210px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:14px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u41 {
  position:absolute;
  left:989px;
  top:530px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:989px;
  top:580px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#0066CC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:990px;
  top:634px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:991px;
  top:682px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1152px;
  top:524px;
  width:55px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:55px;
  height:1px;
}
#u50 {
  position:absolute;
  left:1217px;
  top:522px;
  width:66px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1044px;
  top:582px;
  width:163px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:154px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:163px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1217px;
  top:572px;
  width:196px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:37px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1453px;
  top:448px;
  width:230px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1453px;
  top:464px;
  width:230px;
  height:388px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:389px;
}
#u58 {
  position:absolute;
  left:2px;
  top:186px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1453px;
  top:494px;
  width:230px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:221px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:230px;
  height:1px;
}
#u60 {
  position:absolute;
  left:1469px;
  top:450px;
  width:60px;
  height:12px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1463px;
  top:472px;
  width:18px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u63 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1489px;
  top:472px;
  width:38px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1463px;
  top:514px;
  width:210px;
  height:51px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:52px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1623px;
  top:531px;
  width:36px;
  height:19px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1481px;
  top:531px;
  width:79px;
  height:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1463px;
  top:595px;
  width:210px;
  height:99px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:100px;
}
#u73 {
  position:absolute;
  left:2px;
  top:42px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1469px;
  top:575px;
  width:53px;
  height:18px;
  color:#00CC33;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1463px;
  top:639px;
  width:210px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u77 {
  position:absolute;
  left:1623px;
  top:609px;
  width:36px;
  height:19px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1623px;
  top:659px;
  width:36px;
  height:19px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1481px;
  top:653px;
  width:67px;
  height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1480px;
  top:603px;
  width:71px;
  height:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1489px;
  top:619px;
  width:10px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1481px;
  top:620px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1481px;
  top:669px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1669px;
  top:609px;
  width:94px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:85px;
  top:-5px;
  width:14px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:94px;
  height:1px;
}
#u92 {
  position:absolute;
  left:1773px;
  top:606px;
  width:105px;
  height:18px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1665px;
  top:536px;
  width:64px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:55px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u95 {
  position:absolute;
  left:1738px;
  top:534px;
  width:148px;
  height:36px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:1669px;
  top:664px;
  width:184px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:175px;
  top:-5px;
  width:14px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:184px;
  height:1px;
}
#u98 {
  position:absolute;
  left:1863px;
  top:661px;
  width:184px;
  height:90px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:91px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:1217px;
  top:670px;
  width:172px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:14px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u101 {
  position:absolute;
  left:1217px;
  top:718px;
  width:172px;
  height:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:495px;
  top:450px;
  width:215px;
  height:392px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u104 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:495px;
  top:713px;
  width:215px;
  height:68px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:495px;
  top:645px;
  width:215px;
  height:68px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u108 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:495px;
  top:577px;
  width:215px;
  height:68px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u110 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:495px;
  top:509px;
  width:215px;
  height:68px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:69px;
}
#u112 {
  position:absolute;
  left:2px;
  top:26px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:506px;
  top:461px;
  width:37px;
  height:15px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:495px;
  top:504px;
  width:215px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:206px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:215px;
  height:1px;
}
#u116 {
  position:absolute;
  left:547px;
  top:462px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:587px;
  top:808px;
  width:29px;
  height:23px;
  font-size:9px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:581px;
  top:464px;
  width:93px;
  height:16px;
  font-size:10px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:508px;
  top:486px;
  width:23px;
  height:19px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:544px;
  top:486px;
  width:23px;
  height:19px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:581px;
  top:486px;
  width:23px;
  height:19px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:619px;
  top:486px;
  width:23px;
  height:19px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:655px;
  top:486px;
  width:23px;
  height:19px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:507px;
  top:518px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u133 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:507px;
  top:538px;
  width:76px;
  height:18px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:508px;
  top:556px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:506px;
  top:742px;
  width:150px;
  height:18px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:506px;
  top:760px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:508px;
  top:605px;
  width:150px;
  height:18px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:509px;
  top:623px;
  width:111px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:14px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:508px;
  top:672px;
  width:106px;
  height:18px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:19px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:508px;
  top:690px;
  width:123px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:14px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:530px;
  top:522px;
  width:128px;
  height:10px;
  font-size:9px;
  color:#666666;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:11px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:506px;
  top:585px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:530px;
  top:587px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:506px;
  top:655px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u157 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:530px;
  top:657px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:506px;
  top:720px;
  width:20px;
  height:17px;
  font-size:6px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u161 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:530px;
  top:722px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:667px;
  top:455px;
  width:20px;
  height:18px;
  font-size:7px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u165 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:655px;
  top:456px;
  width:48px;
  height:78px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:78px;
}
#u167 {
  position:absolute;
  left:2px;
  top:31px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
