﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:128px;
  top:178px;
  width:216px;
  height:382px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u1 {
  position:absolute;
  left:2px;
  top:183px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u2 {
  position:absolute;
  left:390px;
  top:237px;
  width:210px;
  height:384px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:385px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:384px;
}
#u4 {
  position:absolute;
  left:170px;
  top:249px;
  width:131px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:127px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u6 {
  position:absolute;
  left:128px;
  top:178px;
  width:215px;
  height:34px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:211px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u8 {
  position:absolute;
  left:128px;
  top:178px;
  width:38px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:284px;
  top:182px;
  width:50px;
  height:26px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u12 {
  position:absolute;
  left:390px;
  top:440px;
  width:192px;
  height:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u14 {
  position:absolute;
  left:390px;
  top:476px;
  width:192px;
  height:51px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:52px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:188px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u16 {
  position:absolute;
  left:390px;
  top:527px;
  width:95px;
  height:38px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16_input {
  font-family:'应用字体';
}
#u17 {
  position:absolute;
  left:488px;
  top:527px;
  width:94px;
  height:38px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17_input {
  font-family:'应用字体';
}
#u18 {
  position:absolute;
  left:390px;
  top:621px;
  width:210px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:81px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:80px;
}
