﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:155px;
  width:90px;
  height:4px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:4px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:105px;
  top:135px;
  width:45px;
  height:45px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:872px;
  top:155px;
  width:90px;
  height:4px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:4px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:912px;
  top:135px;
  width:45px;
  height:45px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:480px;
  top:155px;
  width:90px;
  height:4px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:4px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:485px;
  top:135px;
  width:45px;
  height:45px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:246px;
  width:220px;
  height:210px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:210px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:480px;
  top:246px;
  width:220px;
  height:120px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:872px;
  top:247px;
  width:220px;
  height:138px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:138px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1250px;
  top:155px;
  width:90px;
  height:4px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:4px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1290px;
  top:135px;
  width:45px;
  height:45px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1250px;
  top:246px;
  width:220px;
  height:207px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:207px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
