﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:2706px;
  top:496px;
  width:80px;
  height:25px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2658px;
  top:200px;
  width:360px;
  height:1280px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:125px;
  top:32px;
  width:405px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u7 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u8 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:190px;
  top:365px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:435px;
  top:363px;
  width:25px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:159px;
  top:363px;
  width:26px;
  height:26px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u14 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:401px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:435px;
  top:399px;
  width:25px;
  height:25px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:159px;
  top:399px;
  width:26px;
  height:26px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:144px;
  top:309px;
  width:323px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u22 {
  position:absolute;
  left:156px;
  top:293px;
  width:53px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:139px;
  top:240px;
  width:50px;
  height:28px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:441px;
  top:240px;
  width:31px;
  height:31px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:190px;
  top:329px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:435px;
  top:327px;
  width:25px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:159px;
  top:327px;
  width:26px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:190px;
  top:437px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:435px;
  top:435px;
  width:25px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:159px;
  top:435px;
  width:26px;
  height:26px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1820px;
  top:200px;
  width:360px;
  height:640px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u45 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1820px;
  top:200px;
  width:360px;
  height:75px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u47 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1820px;
  top:200px;
  width:360px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1858px;
  top:240px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1828px;
  top:238px;
  width:30px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1841px;
  top:294px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:2133px;
  top:293px;
  width:25px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1841px;
  top:355px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:2107px;
  top:364px;
  width:46px;
  height:2px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:2129px;
  top:354px;
  width:23px;
  height:23px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1844px;
  top:389px;
  width:312px;
  height:18px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:560px;
  top:502px;
  width:200px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u67 {
  position:absolute;
  left:560px;
  top:522px;
  width:113px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:2408px;
  top:474px;
  width:200px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2408px;
  top:494px;
  width:139px;
  height:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:3286px;
  top:200px;
  width:360px;
  height:640px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u73 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:3286px;
  top:200px;
  width:360px;
  height:75px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u75 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:3286px;
  top:200px;
  width:360px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:3286px;
  top:410px;
  width:360px;
  height:75px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u79 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:3363px;
  top:450px;
  width:243px;
  height:18px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:3306px;
  top:427px;
  width:41px;
  height:41px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:3363px;
  top:427px;
  width:97px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:3606px;
  top:433px;
  width:29px;
  height:29px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:3695px;
  top:425px;
  width:173px;
  height:87px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:87px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:3635px;
  top:442px;
  width:50px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u91 {
  position:absolute;
  left:846px;
  top:200px;
  width:360px;
  height:640px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u92 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:846px;
  top:200px;
  width:360px;
  height:75px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u94 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:846px;
  top:200px;
  width:360px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:884px;
  top:240px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:854px;
  top:238px;
  width:30px;
  height:30px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:867px;
  top:294px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1159px;
  top:293px;
  width:25px;
  height:25px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:867px;
  top:365px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#1E1E1E;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:870px;
  top:399px;
  width:312px;
  height:18px;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1137px;
  top:376px;
  width:45px;
  height:2px;
  color:#1E1E1E;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1139px;
  top:366px;
  width:22px;
  height:22px;
  color:#1E1E1E;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u112 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:2658px;
  top:200px;
  width:360px;
  height:75px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u114 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:2658px;
  top:200px;
  width:360px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:2696px;
  top:240px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:2666px;
  top:238px;
  width:30px;
  height:30px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1836px;
  top:443px;
  width:328px;
  height:107px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u122 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1836px;
  top:443px;
  width:328px;
  height:107px;
  opacity:0.5;
  color:#999999;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u124 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1870px;
  top:476px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:1870px;
  top:498px;
  width:212px;
  height:18px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:2118px;
  top:484px;
  width:25px;
  height:25px;
  color:#999999;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1836px;
  top:571px;
  width:328px;
  height:107px;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u132 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1836px;
  top:571px;
  width:328px;
  height:107px;
  opacity:0.5;
  color:#999999;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u134 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1870px;
  top:606px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1870px;
  top:626px;
  width:212px;
  height:18px;
  color:#999999;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:2118px;
  top:614px;
  width:25px;
  height:25px;
  color:#999999;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1836px;
  top:700px;
  width:328px;
  height:107px;
  color:#999999;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u142 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1836px;
  top:700px;
  width:328px;
  height:107px;
  opacity:0.5;
  color:#999999;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u144 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1870px;
  top:734px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:1870px;
  top:756px;
  width:212px;
  height:18px;
  color:#999999;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:2118px;
  top:740px;
  width:25px;
  height:25px;
  color:#999999;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:2868px;
  top:325px;
  width:130px;
  height:143px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u152 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:2916px;
  top:497px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:2682px;
  top:325px;
  width:130px;
  height:143px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u156 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:2713px;
  top:497px;
  width:68px;
  height:22px;
  font-size:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:2682px;
  top:289px;
  width:312px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:18px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:2682px;
  top:558px;
  width:130px;
  height:143px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u162 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:2722px;
  top:730px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:2868px;
  top:558px;
  width:130px;
  height:143px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u166 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:2900px;
  top:730px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:2682px;
  top:788px;
  width:130px;
  height:143px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u170 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:2722px;
  top:960px;
  width:42px;
  height:18px;
  font-size:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:2868px;
  top:788px;
  width:130px;
  height:143px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u174 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:2900px;
  top:960px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:2682px;
  top:1019px;
  width:130px;
  height:143px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u178 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:2728px;
  top:1195px;
  width:38px;
  height:18px;
  font-size:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:2868px;
  top:1019px;
  width:130px;
  height:143px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u182 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:2916px;
  top:1195px;
  width:35px;
  height:18px;
  font-size:16px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u185 {
  position:absolute;
  left:2682px;
  top:1250px;
  width:130px;
  height:143px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u186 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:2733px;
  top:1422px;
  width:28px;
  height:18px;
  font-size:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:3058px;
  top:999px;
  width:173px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:126px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:2998px;
  top:1100px;
  width:50px;
  height:10px;
}
#u191_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u191_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u191_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u192 {
  position:absolute;
  left:3058px;
  top:386px;
  width:173px;
  height:105px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:105px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:2978px;
  top:416px;
  width:70px;
  height:10px;
}
#u194_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u194_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u194_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u195 {
  position:absolute;
  left:3058px;
  top:505px;
  width:173px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:2768px;
  top:512px;
  width:280px;
  height:10px;
}
#u197_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u197_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u198 {
  position:absolute;
  left:867px;
  top:325px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:1133px;
  top:334px;
  width:46px;
  height:2px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u201 {
  position:absolute;
  left:2px;
  top:-7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1155px;
  top:324px;
  width:23px;
  height:23px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u203 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:2203px;
  top:467px;
  width:173px;
  height:36px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:2143px;
  top:488px;
  width:50px;
  height:10px;
}
#u206_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u207 {
  position:absolute;
  left:1841px;
  top:324px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:2107px;
  top:333px;
  width:46px;
  height:2px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u210 {
  position:absolute;
  left:2px;
  top:-7px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:2129px;
  top:323px;
  width:23px;
  height:23px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u212 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:2203px;
  top:318px;
  width:173px;
  height:54px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:54px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:2143px;
  top:335px;
  width:50px;
  height:10px;
}
#u215_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u215_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u215_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u216 {
  position:absolute;
  left:1247px;
  top:704px;
  width:282px;
  height:253px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:253px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:864px;
  top:427px;
  width:323px;
  height:10px;
}
#u218_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u218_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u218_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u219 {
  position:absolute;
  left:862px;
  top:447px;
  width:328px;
  height:107px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u220 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:862px;
  top:446px;
  width:328px;
  height:107px;
  opacity:0.5;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u222 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:896px;
  top:480px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:896px;
  top:502px;
  width:212px;
  height:18px;
  color:#000000;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:1144px;
  top:488px;
  width:25px;
  height:25px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u228 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:862px;
  top:575px;
  width:328px;
  height:107px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u230 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:862px;
  top:575px;
  width:328px;
  height:107px;
  opacity:0.5;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u232 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:896px;
  top:610px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:896px;
  top:630px;
  width:212px;
  height:18px;
  color:#000000;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1144px;
  top:618px;
  width:25px;
  height:25px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:862px;
  top:704px;
  width:328px;
  height:107px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u240 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:862px;
  top:704px;
  width:328px;
  height:107px;
  opacity:0.5;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:107px;
}
#u242 {
  position:absolute;
  left:2px;
  top:46px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:896px;
  top:738px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:896px;
  top:760px;
  width:212px;
  height:18px;
  color:#000000;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:18px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:1144px;
  top:744px;
  width:25px;
  height:25px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u248 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:1836px;
  top:423px;
  width:323px;
  height:10px;
}
#u249_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u249_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u249_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u250 {
  position:absolute;
  left:1247px;
  top:404px;
  width:173px;
  height:186px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:186px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1187px;
  top:506px;
  width:50px;
  height:10px;
}
#u252_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u252_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u252_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
