﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:994px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:105px;
  top:220px;
  width:215px;
  height:392px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u1 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:105px;
  top:220px;
  width:215px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:105px;
  top:236px;
  width:215px;
  height:38px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:211px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:101px;
  top:238px;
  width:38px;
  height:34px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u8 {
  position:absolute;
  left:273px;
  top:241px;
  width:35px;
  height:27px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u10 {
  position:absolute;
  left:114px;
  top:283px;
  width:58px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u12 {
  position:absolute;
  left:182px;
  top:283px;
  width:58px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u14 {
  position:absolute;
  left:250px;
  top:283px;
  width:58px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u16 {
  position:absolute;
  left:114px;
  top:393px;
  width:58px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u18 {
  position:absolute;
  left:182px;
  top:393px;
  width:58px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u20 {
  position:absolute;
  left:250px;
  top:393px;
  width:58px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u22 {
  position:absolute;
  left:114px;
  top:503px;
  width:58px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u24 {
  position:absolute;
  left:182px;
  top:503px;
  width:58px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u26 {
  position:absolute;
  left:250px;
  top:503px;
  width:58px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u28 {
  position:absolute;
  left:229px;
  top:389px;
  width:21px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u30 {
  position:absolute;
  left:232px;
  top:392px;
  width:15px;
  height:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u32 {
  position:absolute;
  left:340px;
  top:412px;
  width:120px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:120px;
  height:1px;
}
#u33 {
  position:absolute;
  left:350px;
  top:376px;
  width:105px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u35 {
  position:absolute;
  left:464px;
  top:220px;
  width:215px;
  height:392px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u36 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u37 {
  position:absolute;
  left:464px;
  top:220px;
  width:215px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u39 {
  position:absolute;
  left:473px;
  top:283px;
  width:58px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u41 {
  position:absolute;
  left:541px;
  top:283px;
  width:58px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u43 {
  position:absolute;
  left:609px;
  top:283px;
  width:58px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u45 {
  position:absolute;
  left:473px;
  top:393px;
  width:58px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u47 {
  position:absolute;
  left:541px;
  top:393px;
  width:58px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u49 {
  position:absolute;
  left:609px;
  top:393px;
  width:58px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u51 {
  position:absolute;
  left:473px;
  top:503px;
  width:58px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u53 {
  position:absolute;
  left:541px;
  top:503px;
  width:58px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u55 {
  position:absolute;
  left:609px;
  top:503px;
  width:58px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u57 {
  position:absolute;
  left:517px;
  top:493px;
  width:24px;
  height:24px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u59 {
  position:absolute;
  left:126px;
  top:530px;
  width:46px;
  height:66px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:66px;
}
#u60 {
  position:absolute;
  left:2px;
  top:25px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u61 {
  position:absolute;
  left:584px;
  top:493px;
  width:25px;
  height:25px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u63 {
  position:absolute;
  left:654px;
  top:493px;
  width:25px;
  height:25px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u65 {
  position:absolute;
  left:464px;
  top:236px;
  width:215px;
  height:38px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:211px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u67 {
  position:absolute;
  left:464px;
  top:582px;
  width:215px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u69 {
  position:absolute;
  left:554px;
  top:584px;
  width:38px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69_input {
  font-family:'应用字体';
}
#u70 {
  position:absolute;
  left:640px;
  top:530px;
  width:170px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u71 {
  position:absolute;
  left:820px;
  top:518px;
  width:170px;
  height:80px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:81px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u73 {
  position:absolute;
  left:794px;
  top:608px;
  width:200px;
  height:100px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u75 {
  position:absolute;
  left:794px;
  top:608px;
  width:200px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u77 {
  position:absolute;
  left:812px;
  top:644px;
  width:151px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u79 {
  position:absolute;
  left:794px;
  top:672px;
  width:100px;
  height:36px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u81 {
  position:absolute;
  left:894px;
  top:672px;
  width:100px;
  height:36px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
