﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:400px;
  top:1197px;
  width:115px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:106px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:115px;
  height:1px;
}
#u1 {
  position:absolute;
  left:1464px;
  top:1150px;
  width:360px;
  height:374px;
  font-size:18px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:375px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:920px;
  top:300px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:920px;
  top:300px;
  width:360px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:938px;
  top:390px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:938px;
  top:436px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:938px;
  top:530px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:920px;
  top:676px;
  width:360px;
  height:264px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:264px;
}
#u14 {
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:948px;
  top:406px;
  width:19px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:948px;
  top:451px;
  width:19px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:102px;
  top:1150px;
  width:360px;
  height:640px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u20 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:102px;
  top:1150px;
  width:360px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:102px;
  top:1526px;
  width:360px;
  height:264px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:264px;
}
#u24 {
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:118px;
  top:1374px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:118px;
  top:1421px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:118px;
  top:1234px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:118px;
  top:1281px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:118px;
  top:1328px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:848px;
  top:424px;
  width:89px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:14px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:89px;
  height:1px;
}
#u36 {
  position:absolute;
  left:670px;
  top:396px;
  width:178px;
  height:66px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:67px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:848px;
  top:548px;
  width:200px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u39 {
  position:absolute;
  left:670px;
  top:524px;
  width:178px;
  height:66px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:67px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:524px;
  top:1169px;
  width:194px;
  height:66px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:67px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:444px;
  top:1440px;
  width:63px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u44 {
  position:absolute;
  left:518px;
  top:1434px;
  width:160px;
  height:22px;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1330px;
  top:319px;
  width:159px;
  height:66px;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:67px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:924px;
  top:1150px;
  width:360px;
  height:640px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u49 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:924px;
  top:1150px;
  width:360px;
  height:25px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:934px;
  top:1446px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:940px;
  top:1452px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:998px;
  top:1450px;
  width:158px;
  height:19px;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:994px;
  top:1472px;
  width:66px;
  height:11px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1196px;
  top:1460px;
  width:65px;
  height:30px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60_input {
  font-family:'应用字体';
}
#u61 {
  position:absolute;
  left:996px;
  top:1486px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:934px;
  top:1516px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:940px;
  top:1522px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:998px;
  top:1520px;
  width:72px;
  height:37px;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:994px;
  top:1542px;
  width:66px;
  height:11px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1196px;
  top:1530px;
  width:65px;
  height:30px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71_input {
  font-family:'应用字体';
}
#u72 {
  position:absolute;
  left:996px;
  top:1556px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:934px;
  top:1586px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:940px;
  top:1592px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:998px;
  top:1590px;
  width:117px;
  height:19px;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:994px;
  top:1612px;
  width:66px;
  height:11px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1196px;
  top:1600px;
  width:65px;
  height:30px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82_input {
  font-family:'应用字体';
}
#u83 {
  position:absolute;
  left:996px;
  top:1626px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:934px;
  top:1656px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:940px;
  top:1662px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u88 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:998px;
  top:1660px;
  width:117px;
  height:19px;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:994px;
  top:1682px;
  width:66px;
  height:11px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1196px;
  top:1670px;
  width:65px;
  height:30px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u93_input {
  font-family:'应用字体';
}
#u94 {
  position:absolute;
  left:996px;
  top:1696px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:934px;
  top:1726px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u97 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:940px;
  top:1732px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u99 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:998px;
  top:1730px;
  width:130px;
  height:19px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:994px;
  top:1752px;
  width:66px;
  height:11px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1196px;
  top:1740px;
  width:65px;
  height:30px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u104_input {
  font-family:'应用字体';
}
#u105 {
  position:absolute;
  left:996px;
  top:1766px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:934px;
  top:1236px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u108 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:940px;
  top:1242px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:998px;
  top:1240px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:994px;
  top:1262px;
  width:66px;
  height:11px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1196px;
  top:1250px;
  width:65px;
  height:30px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u115_input {
  font-family:'应用字体';
}
#u116 {
  position:absolute;
  left:996px;
  top:1276px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:934px;
  top:1306px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u119 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:940px;
  top:1312px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:998px;
  top:1310px;
  width:158px;
  height:19px;
  font-size:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:994px;
  top:1332px;
  width:66px;
  height:11px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1196px;
  top:1320px;
  width:65px;
  height:30px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u126_input {
  font-family:'应用字体';
}
#u127 {
  position:absolute;
  left:996px;
  top:1346px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:934px;
  top:1376px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u130 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:940px;
  top:1382px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:998px;
  top:1380px;
  width:158px;
  height:19px;
  font-size:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:994px;
  top:1402px;
  width:66px;
  height:11px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u136 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1196px;
  top:1390px;
  width:65px;
  height:30px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u137_input {
  font-family:'应用字体';
}
#u138 {
  position:absolute;
  left:996px;
  top:1416px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:872px;
  top:1200px;
  width:63px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:14px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u141 {
  position:absolute;
  left:780px;
  top:1184px;
  width:100px;
  height:44px;
  font-size:18px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:434px;
  top:1300px;
  width:489px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:480px;
  top:-5px;
  width:14px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:4px;
  width:489px;
  height:2px;
}
#u144 {
  position:absolute;
  left:614px;
  top:1276px;
  width:160px;
  height:22px;
  font-size:18px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:513px;
  top:288px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:45px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:12px;
  top:105px;
  width:2050px;
  height:10px;
}
#u148_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:4px;
  width:2050px;
  height:2px;
}
#u149 {
  position:absolute;
  left:23px;
  top:38px;
  width:193px;
  height:55px;
  font-size:48px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:56px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:48px;
  top:187px;
  width:169px;
  height:32px;
  font-size:28px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:45px;
  top:230px;
  width:370px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:361px;
  top:-5px;
  width:14px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u154 {
  position:absolute;
  left:51px;
  top:1023px;
  width:225px;
  height:32px;
  font-size:28px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:33px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:48px;
  top:1066px;
  width:370px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:361px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u157 {
  position:absolute;
  left:118px;
  top:300px;
  width:360px;
  height:640px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u158 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:118px;
  top:300px;
  width:360px;
  height:25px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:125px;
  top:328px;
  width:350px;
  height:55px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:56px;
}
#u162 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:127px;
  top:525px;
  width:81px;
  height:42px;
  font-size:18px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:216px;
  top:524px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u166 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:302px;
  top:524px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u168 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:127px;
  top:383px;
  width:342px;
  height:131px;
  font-size:18px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:132px;
}
#u170 {
  position:absolute;
  left:2px;
  top:54px;
  width:338px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:127px;
  top:577px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u172 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:133px;
  top:583px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u174 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:191px;
  top:581px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:188px;
  top:604px;
  width:66px;
  height:11px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:389px;
  top:592px;
  width:65px;
  height:30px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u179_input {
  font-family:'应用字体';
}
#u180 {
  position:absolute;
  left:189px;
  top:618px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:127px;
  top:647px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u183 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:133px;
  top:653px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u185 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:191px;
  top:651px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:188px;
  top:674px;
  width:66px;
  height:11px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u189 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:389px;
  top:662px;
  width:65px;
  height:30px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u190_input {
  font-family:'应用字体';
}
#u191 {
  position:absolute;
  left:189px;
  top:688px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:127px;
  top:717px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u194 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:133px;
  top:723px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u196 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:191px;
  top:721px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:188px;
  top:744px;
  width:66px;
  height:11px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u200 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:389px;
  top:732px;
  width:65px;
  height:30px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u201_input {
  font-family:'应用字体';
}
#u202 {
  position:absolute;
  left:189px;
  top:758px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:126px;
  top:335px;
  width:345px;
  height:40px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:41px;
}
#u205 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:168px;
  top:342px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:434px;
  top:337px;
  width:34px;
  height:35px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:134px;
  top:343px;
  width:24px;
  height:24px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u211 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:390px;
  top:524px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u213 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:127px;
  top:787px;
  width:342px;
  height:132px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:133px;
}
#u215 {
  position:absolute;
  left:2px;
  top:58px;
  width:338px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:937px;
  top:335px;
  width:327px;
  height:40px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:41px;
}
#u217 {
  position:absolute;
  left:2px;
  top:12px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1258px;
  top:345px;
  width:63px;
  height:10px;
}
#u218_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u218_end {
  position:absolute;
  left:54px;
  top:-5px;
  width:14px;
  height:20px;
}
#u218_line {
  position:absolute;
  left:0px;
  top:5px;
  width:63px;
  height:1px;
}
#u219 {
  position:absolute;
  left:932px;
  top:344px;
  width:23px;
  height:21px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u220 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:468px;
  top:351px;
  width:465px;
  height:10px;
}
#u221_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u221_end {
  position:absolute;
  left:456px;
  top:-5px;
  width:14px;
  height:20px;
}
#u221_line {
  position:absolute;
  left:0px;
  top:4px;
  width:465px;
  height:2px;
}
#u222 {
  position:absolute;
  left:966px;
  top:344px;
  width:10px;
  height:20px;
}
#u222_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u222_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:14px;
}
#u222_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u223 {
  position:absolute;
  left:938px;
  top:483px;
  width:327px;
  height:47px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
}
#u224 {
  position:absolute;
  left:2px;
  top:14px;
  width:323px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:948px;
  top:498px;
  width:19px;
  height:18px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u226 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:119px;
  top:1184px;
  width:327px;
  height:40px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:41px;
}
#u228 {
  position:absolute;
  left:2px;
  top:12px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:114px;
  top:1193px;
  width:23px;
  height:21px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:147px;
  top:1195px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:414px;
  top:1192px;
  width:22px;
  height:22px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u234 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:935px;
  top:1185px;
  width:341px;
  height:40px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:41px;
}
#u236 {
  position:absolute;
  left:2px;
  top:12px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:930px;
  top:1194px;
  width:23px;
  height:21px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:963px;
  top:1196px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u241 {
  position:absolute;
  left:1247px;
  top:1193px;
  width:22px;
  height:22px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u242 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
