﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:626px;
  top:368px;
  width:215px;
  height:381px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:381px;
}
#u1 {
  position:absolute;
  left:2px;
  top:182px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u2 {
  position:absolute;
  left:204px;
  top:368px;
  width:215px;
  height:392px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:393px;
}
#u3 {
  position:absolute;
  left:2px;
  top:188px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:204px;
  top:368px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:204px;
  top:384px;
  width:215px;
  height:38px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:211px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u8 {
  position:absolute;
  left:200px;
  top:386px;
  width:38px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:213px;
  top:192px;
  width:206px;
  height:160px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:161px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:160px;
}
#u12 {
  position:absolute;
  left:372px;
  top:389px;
  width:35px;
  height:27px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u14 {
  position:absolute;
  left:626px;
  top:368px;
  width:214px;
  height:34px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u16 {
  position:absolute;
  left:626px;
  top:368px;
  width:38px;
  height:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u18 {
  position:absolute;
  left:455px;
  top:574px;
  width:141px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:132px;
  top:-5px;
  width:14px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
#u19 {
  position:absolute;
  left:455px;
  top:525px;
  width:150px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:32px;
}
#u21 {
  position:absolute;
  left:1033px;
  top:368px;
  width:215px;
  height:382px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u22 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u23 {
  position:absolute;
  left:853px;
  top:574px;
  width:141px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:132px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
#u24 {
  position:absolute;
  left:853px;
  top:550px;
  width:150px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u26 {
  position:absolute;
  left:1033px;
  top:368px;
  width:216px;
  height:382px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:382px;
}
#u27 {
  position:absolute;
  left:2px;
  top:183px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u28 {
  position:absolute;
  left:1033px;
  top:368px;
  width:215px;
  height:34px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:211px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u30 {
  position:absolute;
  left:1033px;
  top:368px;
  width:38px;
  height:34px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u31 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u32 {
  position:absolute;
  left:637px;
  top:230px;
  width:192px;
  height:112px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:113px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:112px;
}
#u34 {
  position:absolute;
  left:1254px;
  top:572px;
  width:141px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:132px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1262px;
  top:533px;
  width:123px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:32px;
}
#u37 {
  position:absolute;
  left:1405px;
  top:368px;
  width:214px;
  height:382px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:382px;
}
#u38 {
  position:absolute;
  left:2px;
  top:183px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u39 {
  position:absolute;
  left:1416px;
  top:278px;
  width:192px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:65px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:64px;
}
#u41 {
  position:absolute;
  left:213px;
  top:431px;
  width:58px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u43 {
  position:absolute;
  left:281px;
  top:431px;
  width:58px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u45 {
  position:absolute;
  left:349px;
  top:431px;
  width:58px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u47 {
  position:absolute;
  left:213px;
  top:541px;
  width:58px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u49 {
  position:absolute;
  left:281px;
  top:541px;
  width:58px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u51 {
  position:absolute;
  left:349px;
  top:541px;
  width:58px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u53 {
  position:absolute;
  left:213px;
  top:651px;
  width:58px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u55 {
  position:absolute;
  left:281px;
  top:651px;
  width:58px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u57 {
  position:absolute;
  left:349px;
  top:651px;
  width:58px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:101px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u59 {
  position:absolute;
  left:328px;
  top:537px;
  width:21px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u61 {
  position:absolute;
  left:331px;
  top:540px;
  width:15px;
  height:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u63 {
  position:absolute;
  left:807px;
  top:372px;
  width:22px;
  height:26px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u65 {
  position:absolute;
  left:1218px;
  top:372px;
  width:22px;
  height:26px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
