﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:390px;
  top:160px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:160px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:184px;
  width:360px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:420px;
  top:194px;
  width:160px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:34px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:390px;
  top:200px;
  width:23px;
  height:21px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:390px;
  top:238px;
  width:360px;
  height:28px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:470px;
  top:276px;
  width:60px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:400px;
  top:276px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:540px;
  top:276px;
  width:60px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:612px;
  top:276px;
  width:60px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:682px;
  top:276px;
  width:60px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:470px;
  top:278px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u23 {
  position:absolute;
  left:390px;
  top:346px;
  width:360px;
  height:28px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:389px;
  top:453px;
  width:360px;
  height:28px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:469px;
  top:384px;
  width:60px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:399px;
  top:384px;
  width:60px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:539px;
  top:384px;
  width:60px;
  height:60px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:611px;
  top:384px;
  width:60px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:469px;
  top:386px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u36 {
  position:absolute;
  left:469px;
  top:492px;
  width:60px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:399px;
  top:492px;
  width:60px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:539px;
  top:492px;
  width:60px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:469px;
  top:494px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u43 {
  position:absolute;
  left:390px;
  top:562px;
  width:360px;
  height:28px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:469px;
  top:603px;
  width:60px;
  height:60px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:399px;
  top:603px;
  width:60px;
  height:60px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:539px;
  top:603px;
  width:60px;
  height:60px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:397px;
  top:605px;
  width:17px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:17px;
  height:1px;
}
#u52 {
  position:absolute;
  left:31px;
  top:17px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:31px;
  top:64px;
  width:1229px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1229px;
  height:1px;
}
#u55 {
  position:absolute;
  left:116px;
  top:221px;
  width:182px;
  height:112px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:112px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:298px;
  top:247px;
  width:92px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:75px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:92px;
  height:1px;
}
#u58 {
  position:absolute;
  left:737px;
  top:244px;
  width:95px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u59 {
  position:absolute;
  left:835px;
  top:234px;
  width:155px;
  height:32px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:529px;
  top:408px;
  width:303px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:286px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:303px;
  height:1px;
}
#u62 {
  position:absolute;
  left:835px;
  top:384px;
  width:221px;
  height:64px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:64px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:459px;
  top:628px;
  width:373px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u65 {
  position:absolute;
  left:842px;
  top:593px;
  width:155px;
  height:80px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:80px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
