﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:101px;
  top:420px;
  width:360px;
  height:335px;
  font-size:28px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:335px;
}
#u4 {
  position:absolute;
  left:2px;
  top:160px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:508px;
  width:360px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u6 {
  position:absolute;
  left:115px;
  top:468px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:566px;
  width:360px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u9 {
  position:absolute;
  left:116px;
  top:537px;
  width:97px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:101px;
  top:623px;
  width:360px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u12 {
  position:absolute;
  left:117px;
  top:594px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:101px;
  top:678px;
  width:360px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u15 {
  position:absolute;
  left:117px;
  top:649px;
  width:81px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:116px;
  top:698px;
  width:329px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:325px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:115px;
  top:430px;
  width:19px;
  height:19px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:242px;
  top:429px;
  width:22px;
  height:22px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:264px;
  top:429px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:313px;
  top:470px;
  width:132px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:313px;
  top:537px;
  width:134px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:301px;
  top:597px;
  width:146px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:381px;
  top:649px;
  width:64px;
  height:25px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:650px;
  top:420px;
  width:360px;
  height:335px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:335px;
}
#u34 {
  position:absolute;
  left:2px;
  top:160px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:780px;
  top:429px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:664px;
  top:429px;
  width:19px;
  height:19px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:664px;
  top:490px;
  width:28px;
  height:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:714px;
  top:496px;
  width:146px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:664px;
  top:525px;
  width:28px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:714px;
  top:531px;
  width:146px;
  height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:664px;
  top:559px;
  width:28px;
  height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:714px;
  top:565px;
  width:146px;
  height:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:664px;
  top:594px;
  width:28px;
  height:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:714px;
  top:600px;
  width:146px;
  height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:664px;
  top:629px;
  width:28px;
  height:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:714px;
  top:635px;
  width:146px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:664px;
  top:663px;
  width:28px;
  height:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:714px;
  top:669px;
  width:146px;
  height:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:664px;
  top:698px;
  width:28px;
  height:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:714px;
  top:704px;
  width:146px;
  height:18px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:951px;
  top:493px;
  width:19px;
  height:19px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:101px;
  top:115px;
  width:360px;
  height:640px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u70 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:101px;
  top:115px;
  width:360px;
  height:75px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u72 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
