﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1132px;
  top:285px;
  width:78px;
  height:62px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:62px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:800px;
  width:308px;
  height:21px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:820px;
  width:308px;
  height:520px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u5 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:860px;
  width:308px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u7 {
  position:absolute;
  left:152px;
  top:806px;
  width:60px;
  height:11px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:144px;
  top:832px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:170px;
  top:830px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:362px;
  top:830px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:473px;
  top:821px;
  width:110px;
  height:77px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:77px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:130px;
  top:1102px;
  width:308px;
  height:239px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u18 {
  position:absolute;
  left:2px;
  top:112px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:510px;
  top:287px;
  width:157px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:418px;
  top:837px;
  width:45px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:45px;
  height:1px;
}
#u22 {
  position:absolute;
  left:73px;
  top:50px;
  width:193px;
  height:45px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:13px;
  top:97px;
  width:998px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:998px;
  height:1px;
}
#u25 {
  position:absolute;
  left:130px;
  top:156px;
  width:308px;
  height:21px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:130px;
  top:177px;
  width:308px;
  height:520px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u28 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:130px;
  top:217px;
  width:308px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u30 {
  position:absolute;
  left:153px;
  top:161px;
  width:60px;
  height:11px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:143px;
  top:189px;
  width:22px;
  height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:169px;
  top:187px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:361px;
  top:187px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:130px;
  top:458px;
  width:308px;
  height:239px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u39 {
  position:absolute;
  left:2px;
  top:112px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:144px;
  top:277px;
  width:281px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:153px;
  top:292px;
  width:181px;
  height:22px;
  font-size:16px;
  color:#D7D7D7;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:144px;
  top:241px;
  width:15px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:174px;
  top:240px;
  width:196px;
  height:18px;
  color:#D7D7D7;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:344px;
  top:298px;
  width:156px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:139px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:156px;
  height:1px;
}
#u49 {
  position:absolute;
  left:764px;
  top:156px;
  width:308px;
  height:21px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:21px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:764px;
  top:177px;
  width:308px;
  height:520px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:520px;
}
#u52 {
  position:absolute;
  left:2px;
  top:252px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:764px;
  top:217px;
  width:308px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u54 {
  position:absolute;
  left:787px;
  top:161px;
  width:60px;
  height:11px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:777px;
  top:189px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:803px;
  top:187px;
  width:121px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:995px;
  top:187px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:764px;
  top:458px;
  width:308px;
  height:239px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:239px;
}
#u63 {
  position:absolute;
  left:2px;
  top:112px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:778px;
  top:277px;
  width:281px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:778px;
  top:241px;
  width:15px;
  height:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u67 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:808px;
  top:240px;
  width:196px;
  height:18px;
  color:#D7D7D7;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:803px;
  top:292px;
  width:55px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:903px;
  top:300px;
  width:219px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:202px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:219px;
  height:1px;
}
#u73 {
  position:absolute;
  left:152px;
  top:922px;
  width:281px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:161px;
  top:937px;
  width:181px;
  height:22px;
  font-size:16px;
  color:#D7D7D7;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:152px;
  top:886px;
  width:15px;
  height:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u78 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:182px;
  top:885px;
  width:196px;
  height:18px;
  color:#D7D7D7;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
