﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1233px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:380px;
  width:308px;
  height:541px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:242px;
  top:412px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:252px;
  top:398px;
  width:8px;
  height:8px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:264px;
  top:398px;
  width:8px;
  height:8px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:274px;
  top:398px;
  width:8px;
  height:8px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:394px;
  width:10px;
  height:13px;
  -webkit-transform:rotate(321deg);
  -moz-transform:rotate(321deg);
  -ms-transform:rotate(321deg);
  transform:rotate(321deg);
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:212px;
  top:502px;
  width:137px;
  height:103px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:103px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:374px;
  top:396px;
  width:34px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:216px;
  top:614px;
  width:127px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:136px;
  top:462px;
  width:21px;
  height:17px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:112px;
  top:460px;
  width:20px;
  height:21px;
  font-size:7px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:114px;
  top:464px;
  width:15px;
  height:13px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:176px;
  top:656px;
  width:184px;
  height:23px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:102px;
  top:786px;
  width:62px;
  height:135px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:135px;
}
#u27 {
  position:absolute;
  left:2px;
  top:60px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:102px;
  top:786px;
  width:62px;
  height:33px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:113px;
  top:880px;
  width:52px;
  height:15px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:163px;
  top:786px;
  width:62px;
  height:135px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:135px;
}
#u33 {
  position:absolute;
  left:2px;
  top:60px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:163px;
  top:786px;
  width:62px;
  height:33px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:175px;
  top:880px;
  width:52px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:224px;
  top:786px;
  width:62px;
  height:135px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:135px;
}
#u39 {
  position:absolute;
  left:2px;
  top:60px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:224px;
  top:786px;
  width:62px;
  height:33px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:237px;
  top:880px;
  width:52px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:285px;
  top:786px;
  width:64px;
  height:135px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:135px;
}
#u45 {
  position:absolute;
  left:2px;
  top:60px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:285px;
  top:786px;
  width:63px;
  height:33px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:297px;
  top:880px;
  width:52px;
  height:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:347px;
  top:786px;
  width:63px;
  height:135px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:135px;
}
#u51 {
  position:absolute;
  left:2px;
  top:60px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:347px;
  top:786px;
  width:63px;
  height:33px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:364px;
  top:880px;
  width:43px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:118px;
  top:830px;
  width:30px;
  height:35px;
  font-size:7px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:120px;
  top:838px;
  width:24px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#999999;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:181px;
  top:830px;
  width:30px;
  height:35px;
  font-size:7px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:183px;
  top:838px;
  width:24px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:241px;
  top:830px;
  width:30px;
  height:35px;
  font-size:7px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:242px;
  top:838px;
  width:24px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:303px;
  top:830px;
  width:30px;
  height:35px;
  font-size:7px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:305px;
  top:838px;
  width:24px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:364px;
  top:830px;
  width:30px;
  height:35px;
  font-size:7px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:366px;
  top:838px;
  width:24px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:457px;
  top:610px;
  width:110px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u77 {
  position:absolute;
  left:457px;
  top:590px;
  width:123px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:600px;
  top:380px;
  width:308px;
  height:541px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u80 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:600px;
  top:380px;
  width:308px;
  height:51px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:51px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:610px;
  top:395px;
  width:22px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:636px;
  top:393px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:625px;
  top:484px;
  width:246px;
  height:36px;
  font-size:18px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:642px;
  top:530px;
  width:240px;
  height:91px;
  font-size:15px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:91px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:761px;
  top:728px;
  width:130px;
  height:33px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:444px;
  top:1270px;
  width:110px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:110px;
  height:1px;
}
#u94 {
  position:absolute;
  left:461px;
  top:1240px;
  width:76px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:99px;
  top:1050px;
  width:308px;
  height:541px;
  font-size:28px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u97 {
  position:absolute;
  left:2px;
  top:210px;
  width:304px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:594px;
  top:1240px;
  width:308px;
  height:70px;
  font-size:28px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:70px;
}
#u99 {
  position:absolute;
  left:2px;
  top:27px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:605px;
  top:1250px;
  width:50px;
  height:50px;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:608px;
  top:1264px;
  width:44px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A4B3C1;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:3px;
  width:44px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:632px;
  top:1254px;
  width:208px;
  height:26px;
  font-size:16px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:26px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:660px;
  top:1282px;
  width:268px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:890px;
  top:486px;
  width:88px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u109 {
  position:absolute;
  left:477px;
  top:398px;
  width:90px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:897px;
  top:562px;
  width:88px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u112 {
  position:absolute;
  left:995px;
  top:560px;
  width:135px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:891px;
  top:736px;
  width:88px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u115 {
  position:absolute;
  left:989px;
  top:734px;
  width:135px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:559px;
  top:401px;
  width:48px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:48px;
  height:1px;
}
#u118 {
  position:absolute;
  left:988px;
  top:486px;
  width:135px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:877px;
  top:1260px;
  width:88px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u121 {
  position:absolute;
  left:975px;
  top:1246px;
  width:258px;
  height:90px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:90px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
