﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:59px;
  width:1350px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1341px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1350px;
  height:1px;
}
#u1 {
  position:absolute;
  left:29px;
  top:19px;
  width:218px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:560px;
  top:134px;
  width:247px;
  height:409px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:410px;
}
#u4 {
  position:absolute;
  left:2px;
  top:196px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:560px;
  top:134px;
  width:247px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:560px;
  top:156px;
  width:247px;
  height:387px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:388px;
}
#u8 {
  position:absolute;
  left:2px;
  top:186px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:560px;
  top:156px;
  width:247px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:567px;
  top:162px;
  width:91px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:560px;
  top:209px;
  width:252px;
  height:38px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:35px;
  top:0px;
  width:34px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:69px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:105px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:141px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:176px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:211px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:560px;
  top:242px;
  width:247px;
  height:29px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:560px;
  top:319px;
  width:247px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u31 {
  position:absolute;
  left:585px;
  top:291px;
  width:11px;
  height:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:560px;
  top:366px;
  width:247px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u34 {
  position:absolute;
  left:560px;
  top:415px;
  width:247px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u35 {
  position:absolute;
  left:585px;
  top:342px;
  width:11px;
  height:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:585px;
  top:390px;
  width:11px;
  height:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:585px;
  top:441px;
  width:11px;
  height:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u40 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:608px;
  top:377px;
  width:121px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:608px;
  top:331px;
  width:121px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:608px;
  top:351px;
  width:130px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:607px;
  top:430px;
  width:104px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:606px;
  top:452px;
  width:69px;
  height:15px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:606px;
  top:398px;
  width:69px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:739px;
  top:333px;
  width:58px;
  height:21px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53_input {
  font-family:'应用字体';
}
#u54 {
  position:absolute;
  left:739px;
  top:287px;
  width:58px;
  height:21px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54_input {
  font-family:'应用字体';
}
#u55 {
  position:absolute;
  left:713px;
  top:163px;
  width:54px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:560px;
  top:470px;
  width:247px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u58 {
  position:absolute;
  left:95px;
  top:134px;
  width:247px;
  height:409px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:410px;
}
#u59 {
  position:absolute;
  left:2px;
  top:196px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:95px;
  top:134px;
  width:247px;
  height:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:23px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:95px;
  top:156px;
  width:247px;
  height:387px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:388px;
}
#u63 {
  position:absolute;
  left:2px;
  top:186px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:95px;
  top:156px;
  width:247px;
  height:32px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:33px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:102px;
  top:162px;
  width:91px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:95px;
  top:208px;
  width:252px;
  height:171px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:35px;
  top:0px;
  width:34px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:69px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:105px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:141px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:176px;
  top:0px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:211px;
  top:0px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:33px;
  width:35px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u84 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:35px;
  top:33px;
  width:34px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:69px;
  top:33px;
  width:36px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:105px;
  top:33px;
  width:36px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:141px;
  top:33px;
  width:35px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:176px;
  top:33px;
  width:35px;
  height:32px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:211px;
  top:33px;
  width:36px;
  height:32px;
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:65px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:35px;
  top:65px;
  width:34px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:69px;
  top:65px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:105px;
  top:65px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:141px;
  top:65px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:176px;
  top:65px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:211px;
  top:65px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:99px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:35px;
  top:99px;
  width:34px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:69px;
  top:99px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:105px;
  top:99px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:141px;
  top:99px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:38px;
  height:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:176px;
  top:99px;
  width:35px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:211px;
  top:99px;
  width:36px;
  height:33px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:132px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:35px;
  top:132px;
  width:34px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:69px;
  top:132px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:105px;
  top:132px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:141px;
  top:132px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:176px;
  top:132px;
  width:35px;
  height:34px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:211px;
  top:132px;
  width:36px;
  height:34px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:95px;
  top:374px;
  width:247px;
  height:29px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:110px;
  top:381px;
  width:31px;
  height:18px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:157px;
  top:380px;
  width:58px;
  height:18px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:95px;
  top:444px;
  width:247px;
  height:10px;
}
#u145_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u145_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u145_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u146 {
  position:absolute;
  left:95px;
  top:492px;
  width:247px;
  height:10px;
}
#u146_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u146_end {
  position:absolute;
  left:238px;
  top:-5px;
  width:14px;
  height:20px;
}
#u146_line {
  position:absolute;
  left:0px;
  top:5px;
  width:247px;
  height:1px;
}
#u147 {
  position:absolute;
  left:114px;
  top:468px;
  width:11px;
  height:12px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u148 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:143px;
  top:454px;
  width:72px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:143px;
  top:474px;
  width:104px;
  height:18px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:344px;
  top:204px;
  width:28px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:19px;
  top:-5px;
  width:14px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u154 {
  position:absolute;
  left:344px;
  top:506px;
  width:28px;
  height:10px;
}
#u154_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_end {
  position:absolute;
  left:19px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u155 {
  position:absolute;
  left:364px;
  top:218px;
  width:0px;
  height:286px;
}
#u155_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:300px;
}
#u156 {
  position:absolute;
  left:-50px;
  top:107px;
  width:100px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:614px;
  top:251px;
  width:426px;
  height:10px;
}
#u157_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_end {
  position:absolute;
  left:417px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_line {
  position:absolute;
  left:0px;
  top:5px;
  width:426px;
  height:1px;
}
#u158 {
  position:absolute;
  left:1050px;
  top:223px;
  width:250px;
  height:72px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:73px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:807px;
  top:266px;
  width:28px;
  height:10px;
}
#u160_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u160_end {
  position:absolute;
  left:19px;
  top:-5px;
  width:14px;
  height:20px;
}
#u160_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u161 {
  position:absolute;
  left:809px;
  top:507px;
  width:28px;
  height:10px;
}
#u161_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u161_end {
  position:absolute;
  left:19px;
  top:-5px;
  width:14px;
  height:20px;
}
#u161_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u162 {
  position:absolute;
  left:828px;
  top:273px;
  width:0px;
  height:228px;
}
#u162_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:242px;
}
#u163 {
  position:absolute;
  left:-50px;
  top:96px;
  width:100px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:845px;
  top:380px;
  width:36px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u165 {
  position:absolute;
  left:891px;
  top:368px;
  width:176px;
  height:36px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:37px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:402px;
  top:140px;
  width:110px;
  height:54px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:559px;
  top:228px;
  width:-45px;
  height:-63px;
}
#u169_seg0 {
  position:absolute;
  left:-38px;
  top:-10px;
  width:42px;
  height:20px;
}
#u169_seg1 {
  position:absolute;
  left:-38px;
  top:-73px;
  width:20px;
  height:83px;
}
#u169_seg2 {
  position:absolute;
  left:-49px;
  top:-73px;
  width:31px;
  height:20px;
}
#u170 {
  position:absolute;
  left:-78px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:807px;
  top:184px;
  width:28px;
  height:10px;
}
#u171_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u171_end {
  position:absolute;
  left:19px;
  top:-5px;
  width:14px;
  height:20px;
}
#u171_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u172 {
  position:absolute;
  left:828px;
  top:190px;
  width:0px;
  height:79px;
}
#u172_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:93px;
}
#u173 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:848px;
  top:220px;
  width:36px;
  height:10px;
}
#u174_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u174_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u174_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u175 {
  position:absolute;
  left:891px;
  top:209px;
  width:56px;
  height:36px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:37px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:378px;
  top:435px;
  width:182px;
  height:10px;
}
#u177_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u177_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:14px;
  height:20px;
}
#u177_line {
  position:absolute;
  left:0px;
  top:5px;
  width:182px;
  height:1px;
}
#u178 {
  position:absolute;
  left:402px;
  top:448px;
  width:121px;
  height:36px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:201px;
  top:167px;
  width:6px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u180_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u180_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:14px;
  height:20px;
}
#u180_line {
  position:absolute;
  left:0px;
  top:5px;
  width:6px;
  height:1px;
}
#u181 {
  position:absolute;
  left:195px;
  top:167px;
  width:8px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u181_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:14px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:8px;
  height:1px;
}
#u182 {
  position:absolute;
  left:664px;
  top:166px;
  width:5px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u182_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u182_end {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u182_line {
  position:absolute;
  left:0px;
  top:5px;
  width:5px;
  height:1px;
}
#u183 {
  position:absolute;
  left:658px;
  top:166px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u183_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u183_end {
  position:absolute;
  left:-2px;
  top:-5px;
  width:14px;
  height:20px;
}
#u183_line {
  position:absolute;
  left:0px;
  top:5px;
  width:7px;
  height:1px;
}
#u184 {
  position:absolute;
  left:273px;
  top:462px;
  width:57px;
  height:21px;
}
#u184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u184_input {
  font-family:'应用字体';
}
#u185 {
  position:absolute;
  left:608px;
  top:281px;
  width:72px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:608px;
  top:301px;
  width:104px;
  height:18px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:16px;
  top:3223px;
  width:1350px;
  height:10px;
}
#u189_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u189_end {
  position:absolute;
  left:1341px;
  top:-5px;
  width:14px;
  height:20px;
}
#u189_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1350px;
  height:1px;
}
#u190 {
  position:absolute;
  left:16px;
  top:3254px;
  width:292px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:29px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:560px;
  top:563px;
  width:430px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:23px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:739px;
  top:386px;
  width:58px;
  height:21px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u194_input {
  font-family:'应用字体';
}
#u195 {
  position:absolute;
  left:739px;
  top:440px;
  width:58px;
  height:21px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u195_input {
  font-family:'应用字体';
}
#u196 {
  position:absolute;
  left:767px;
  top:164px;
  width:117px;
  height:10px;
}
#u196_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u196_end {
  position:absolute;
  left:108px;
  top:-5px;
  width:14px;
  height:20px;
}
#u196_line {
  position:absolute;
  left:0px;
  top:5px;
  width:117px;
  height:1px;
}
#u197 {
  position:absolute;
  left:891px;
  top:155px;
  width:226px;
  height:36px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:37px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:95px;
  top:191px;
  width:32px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:128px;
  top:191px;
  width:34px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:161px;
  top:191px;
  width:36px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:202px;
  top:191px;
  width:28px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:233px;
  top:191px;
  width:36px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:270px;
  top:191px;
  width:34px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:307px;
  top:191px;
  width:29px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:562px;
  top:191px;
  width:32px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:595px;
  top:191px;
  width:34px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:628px;
  top:191px;
  width:36px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:669px;
  top:191px;
  width:28px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:700px;
  top:191px;
  width:36px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:737px;
  top:191px;
  width:34px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:774px;
  top:191px;
  width:29px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:114px;
  top:418px;
  width:11px;
  height:12px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u228 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:141px;
  top:409px;
  width:72px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:141px;
  top:429px;
  width:104px;
  height:15px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:271px;
  top:418px;
  width:60px;
  height:21px;
}
#u233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u233_input {
  font-family:'应用字体';
}
#u234 {
  position:absolute;
  left:306px;
  top:377px;
  width:25px;
  height:25px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u235 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:310px;
  top:160px;
  width:25px;
  height:25px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u237 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:573px;
  top:248px;
  width:31px;
  height:18px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:620px;
  top:247px;
  width:58px;
  height:18px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:769px;
  top:244px;
  width:25px;
  height:25px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u243 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:777px;
  top:159px;
  width:25px;
  height:25px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u245 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
