﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:17px;
  width:113px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:64px;
  width:1229px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1229px;
  height:1px;
}
#u3 {
  position:absolute;
  left:31px;
  top:84px;
  width:254px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:340px;
  top:150px;
  width:610px;
  height:470px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:470px;
}
#u6 {
  position:absolute;
  left:2px;
  top:227px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
