﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:100px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2 {
  position:absolute;
  left:50px;
  top:80px;
  width:200px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u4 {
  position:absolute;
  left:50px;
  top:150px;
  width:1000px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:996px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:20px;
}
#u6 {
  position:absolute;
  left:50px;
  top:200px;
  width:1005px;
  height:335px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u9 {
  position:absolute;
  left:100px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u11 {
  position:absolute;
  left:220px;
  top:0px;
  width:660px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:656px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:20px;
}
#u13 {
  position:absolute;
  left:880px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u16 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u17 {
  position:absolute;
  left:100px;
  top:30px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u18 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u19 {
  position:absolute;
  left:220px;
  top:30px;
  width:660px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:61px;
}
#u20 {
  position:absolute;
  left:2px;
  top:20px;
  width:656px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:20px;
}
#u21 {
  position:absolute;
  left:880px;
  top:30px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u25 {
  position:absolute;
  left:100px;
  top:90px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u27 {
  position:absolute;
  left:220px;
  top:90px;
  width:660px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:61px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:656px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:20px;
}
#u29 {
  position:absolute;
  left:880px;
  top:90px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u32 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u33 {
  position:absolute;
  left:100px;
  top:150px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u35 {
  position:absolute;
  left:220px;
  top:150px;
  width:660px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:61px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:656px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:20px;
}
#u37 {
  position:absolute;
  left:880px;
  top:150px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u38 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u41 {
  position:absolute;
  left:100px;
  top:210px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u43 {
  position:absolute;
  left:220px;
  top:210px;
  width:660px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:61px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:16px;
}
#u45 {
  position:absolute;
  left:880px;
  top:210px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u49 {
  position:absolute;
  left:100px;
  top:270px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u51 {
  position:absolute;
  left:220px;
  top:270px;
  width:660px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:61px;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:16px;
}
#u53 {
  position:absolute;
  left:880px;
  top:270px;
  width:120px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:center;
  line-height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
