﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:20px;
  width:189px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:70px;
  width:1500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:170px;
  top:180px;
  width:360px;
  height:640px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:170px;
  top:180px;
  width:360px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:204px;
  width:360px;
  height:55px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
}
#u8 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:182px;
  top:214px;
  width:147px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:363px;
  top:605px;
  width:10px;
  height:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:328px;
  top:605px;
  width:10px;
  height:10px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:454px;
  top:270px;
  width:66px;
  height:16px;
  color:#00CCFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:187px;
  top:270px;
  width:109px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:248px;
  top:399px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:489px;
  top:204px;
  width:41px;
  height:55px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:55px;
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:294px;
  top:496px;
  width:135px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:420px;
  top:430px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:420px;
  top:410px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:170px;
  top:627px;
  width:360px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u30 {
  position:absolute;
  left:194px;
  top:663px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:195px;
  top:689px;
  width:45px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:330px;
  top:663px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:333px;
  top:689px;
  width:30px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:456px;
  top:663px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:456px;
  top:689px;
  width:67px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:237px;
  top:780px;
  width:230px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:550px;
  top:220px;
  width:70px;
  height:26px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:550px;
  top:245px;
  width:70px;
  height:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:520px;
  top:226px;
  width:38px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u49 {
  position:absolute;
  left:756px;
  top:180px;
  width:360px;
  height:640px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u50 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:756px;
  top:180px;
  width:360px;
  height:25px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:756px;
  top:204px;
  width:360px;
  height:55px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:768px;
  top:214px;
  width:147px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:949px;
  top:605px;
  width:10px;
  height:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:914px;
  top:605px;
  width:10px;
  height:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:773px;
  top:270px;
  width:127px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:834px;
  top:399px;
  width:167px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:57px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:1075px;
  top:204px;
  width:41px;
  height:55px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:55px;
}
#u65_img.mouseDown {
}
#u65.mouseDown {
}
#u66 {
  position:absolute;
  left:2px;
  top:20px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1006px;
  top:430px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1006px;
  top:410px;
  width:62px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:756px;
  top:627px;
  width:360px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u72 {
  position:absolute;
  left:780px;
  top:663px;
  width:53px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:781px;
  top:689px;
  width:45px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:916px;
  top:663px;
  width:53px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:919px;
  top:689px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1042px;
  top:663px;
  width:53px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:823px;
  top:780px;
  width:230px;
  height:30px;
  color:#1E1E1E;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1042px;
  top:689px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:1021px;
  top:264px;
  width:88px;
  height:27px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:170px;
  top:150px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:756px;
  top:151px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:894px;
  top:489px;
  width:135px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1148px;
  top:253px;
  width:57px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1109px;
  top:269px;
  width:134px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:117px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:134px;
  height:1px;
}
#u97 {
  position:absolute;
  left:1253px;
  top:245px;
  width:196px;
  height:91px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:91px;
}
#u98 {
  position:absolute;
  left:2px;
  top:38px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1253px;
  top:220px;
  width:196px;
  height:26px;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u100 {
  position:absolute;
  left:2px;
  top:5px;
  width:192px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1262px;
  top:265px;
  width:180px;
  height:15px;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1363px;
  top:303px;
  width:53px;
  height:22px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u104 {
  position:absolute;
  left:1285px;
  top:303px;
  width:53px;
  height:22px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u105 {
  position:absolute;
  left:383px;
  top:605px;
  width:175px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:175px;
  height:1px;
}
#u106 {
  position:absolute;
  left:568px;
  top:594px;
  width:102px;
  height:32px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1253px;
  top:346px;
  width:227px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:306px;
  top:761px;
  width:87px;
  height:13px;
  font-size:10px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:13px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:306px;
  top:774px;
  width:10px;
  height:96px;
}
#u112_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u112_end {
  position:absolute;
  left:-5px;
  top:79px;
  width:20px;
  height:18px;
}
#u112_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:96px;
}
#u113 {
  position:absolute;
  left:227px;
  top:880px;
  width:282px;
  height:128px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:128px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:492px;
  top:420px;
  width:68px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u116 {
  position:absolute;
  left:570px;
  top:408px;
  width:102px;
  height:48px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:420px;
  top:499px;
  width:175px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:175px;
  height:1px;
}
#u119 {
  position:absolute;
  left:605px;
  top:488px;
  width:75px;
  height:32px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:467px;
  top:786px;
  width:78px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u122 {
  position:absolute;
  left:555px;
  top:774px;
  width:155px;
  height:32px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1063px;
  top:790px;
  width:78px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:61px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:78px;
  height:1px;
}
#u125 {
  position:absolute;
  left:1151px;
  top:778px;
  width:155px;
  height:32px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1000px;
  top:493px;
  width:173px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:156px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:173px;
  height:1px;
}
#u128 {
  position:absolute;
  left:1183px;
  top:481px;
  width:67px;
  height:32px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
