﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:991px;
  top:60px;
  width:169px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:220px;
  top:120px;
  width:419px;
  height:750px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:750px;
}
#u3 {
  position:absolute;
  left:2px;
  top:367px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:221px;
  top:120px;
  width:417px;
  height:740px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u5 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:221px;
  top:214px;
  width:412px;
  height:542px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:542px;
}
#u7 {
  position:absolute;
  left:2px;
  top:263px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:233px;
  top:160px;
  width:390px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:220px;
  top:208px;
  width:417px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u11 {
  position:absolute;
  left:465px;
  top:231px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:220px;
  top:378px;
  width:419px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:402px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:419px;
  height:1px;
}
#u14 {
  position:absolute;
  left:533px;
  top:329px;
  width:69px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:220px;
  top:394px;
  width:419px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:237px;
  top:409px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:607px;
  top:406px;
  width:26px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:468px;
  width:308px;
  height:197px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:197px;
}
#u23 {
  position:absolute;
  left:2px;
  top:90px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:220px;
  top:468px;
  width:419px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:220px;
  top:516px;
  width:419px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:220px;
  top:565px;
  width:419px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:614px;
  width:419px;
  height:51px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:51px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:237px;
  top:534px;
  width:16px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:273px;
  top:524px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:273px;
  top:574px;
  width:49px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:273px;
  top:624px;
  width:65px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:237px;
  top:584px;
  width:16px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:237px;
  top:632px;
  width:16px;
  height:13px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:229px;
  top:478px;
  width:30px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:273px;
  top:482px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:347px;
  top:232px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#515151;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:355px;
  top:217px;
  width:32px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:15px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:4px;
  width:32px;
  height:2px;
}
#u51 {
  position:absolute;
  left:220px;
  top:148px;
  width:419px;
  height:64px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:64px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:272px;
  top:169px;
  width:128px;
  height:19px;
  font-size:16px;
  color:#CBCBCB;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:581px;
  top:800px;
  width:34px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:281px;
  top:272px;
  width:47px;
  height:47px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:273px;
  top:329px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:403px;
  top:329px;
  width:58px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:405px;
  top:274px;
  width:45px;
  height:45px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:535px;
  top:271px;
  width:54px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:55px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:581px;
  top:163px;
  width:34px;
  height:35px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:991px;
  top:120px;
  width:419px;
  height:750px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:750px;
}
#u70 {
  position:absolute;
  left:2px;
  top:367px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:992px;
  top:120px;
  width:417px;
  height:740px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:740px;
}
#u72 {
  position:absolute;
  left:2px;
  top:362px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:992px;
  top:214px;
  width:412px;
  height:542px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:542px;
}
#u74 {
  position:absolute;
  left:2px;
  top:263px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1004px;
  top:160px;
  width:390px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:991px;
  top:208px;
  width:417px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:400px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:417px;
  height:1px;
}
#u78 {
  position:absolute;
  left:1352px;
  top:800px;
  width:34px;
  height:36px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:599px;
  top:300px;
  width:393px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:376px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:393px;
  height:1px;
}
#u81 {
  position:absolute;
  left:1004px;
  top:170px;
  width:23px;
  height:21px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u81_img.mouseDown {
}
#u81.mouseDown {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1047px;
  top:164px;
  width:169px;
  height:35px;
  font-size:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:1008px;
  top:416px;
  width:300px;
  height:41px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1008px;
  top:481px;
  width:300px;
  height:41px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1009px;
  top:543px;
  width:300px;
  height:41px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1008px;
  top:602px;
  width:300px;
  height:41px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1143px;
  top:332px;
  width:76px;
  height:27px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1219px;
  top:332px;
  width:65px;
  height:27px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1372px;
  top:420px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1373px;
  top:481px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1374px;
  top:535px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1377px;
  top:604px;
  width:17px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:24px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1009px;
  top:439px;
  width:15px;
  height:15px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1008px;
  top:505px;
  width:15px;
  height:15px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u108 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1008px;
  top:372px;
  width:121px;
  height:27px;
  font-size:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1014px;
  top:378px;
  width:13px;
  height:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1318px;
  top:378px;
  width:86px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1003px;
  top:563px;
  width:20px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1004px;
  top:232px;
  width:136px;
  height:128px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:128px;
}
#u118 {
  position:absolute;
  left:2px;
  top:56px;
  width:132px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1147px;
  top:234px;
  width:253px;
  height:37px;
  font-size:16px;
  color:#000000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1284px;
  top:332px;
  width:65px;
  height:27px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1003px;
  top:938px;
  width:485px;
  height:32px;
  font-size:28px;
  color:#FF0000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:32px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1360px;
  top:160px;
  width:34px;
  height:35px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
