﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1148px;
  top:320px;
  width:308px;
  height:541px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u1 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1148px;
  top:320px;
  width:308px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1148px;
  top:340px;
  width:308px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1158px;
  top:352px;
  width:22px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1184px;
  top:350px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1148px;
  top:545px;
  width:308px;
  height:63px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:63px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1441px;
  top:490px;
  width:67px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:67px;
  height:1px;
}
#u13 {
  position:absolute;
  left:1441px;
  top:564px;
  width:187px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:170px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:187px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1168px;
  top:553px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1386px;
  top:560px;
  width:59px;
  height:31px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1518px;
  top:488px;
  width:170px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1638px;
  top:554px;
  width:202px;
  height:123px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:123px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1164px;
  top:749px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1238px;
  top:759px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1164px;
  top:804px;
  width:277px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:273px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1238px;
  top:814px;
  width:15px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1168px;
  top:613px;
  width:269px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1168px;
  top:577px;
  width:113px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1420px;
  top:824px;
  width:208px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:208px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1638px;
  top:818px;
  width:295px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1420px;
  top:769px;
  width:287px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:270px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:287px;
  height:1px;
}
#u38 {
  position:absolute;
  left:1717px;
  top:767px;
  width:268px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:36px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:940px;
  top:600px;
  width:171px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:154px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:171px;
  height:1px;
}
#u41 {
  position:absolute;
  left:979px;
  top:562px;
  width:53px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1339px;
  top:413px;
  width:71px;
  height:79px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:79px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1354px;
  top:487px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1210px;
  top:428px;
  width:58px;
  height:56px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1226px;
  top:488px;
  width:36px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1297px;
  top:431px;
  width:10px;
  height:64px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:47px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:64px;
}
#u52 {
  position:absolute;
  left:595px;
  top:316px;
  width:308px;
  height:541px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:541px;
}
#u53 {
  position:absolute;
  left:2px;
  top:262px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:595px;
  top:316px;
  width:308px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:304px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:665px;
  top:404px;
  width:178px;
  height:146px;
  font-size:12px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:146px;
}
#u57 {
  position:absolute;
  left:2px;
  top:64px;
  width:174px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:595px;
  top:336px;
  width:308px;
  height:47px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:47px;
}
#u59 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:607px;
  top:346px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#515151;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:853px;
  top:340px;
  width:40px;
  height:40px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:609px;
  top:588px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:595px;
  top:672px;
  width:308px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u67 {
  position:absolute;
  left:656px;
  top:624px;
  width:55px;
  height:25px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:595px;
  top:610px;
  width:308px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u70 {
  position:absolute;
  left:607px;
  top:628px;
  width:38px;
  height:33px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:609px;
  top:638px;
  width:33px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:655px;
  top:648px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:857px;
  top:630px;
  width:26px;
  height:26px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:832px;
  top:634px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:595px;
  top:732px;
  width:308px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u81 {
  position:absolute;
  left:656px;
  top:684px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:595px;
  top:672px;
  width:308px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u84 {
  position:absolute;
  left:607px;
  top:690px;
  width:38px;
  height:33px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:609px;
  top:698px;
  width:33px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:655px;
  top:710px;
  width:111px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:857px;
  top:692px;
  width:26px;
  height:26px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u91 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:832px;
  top:696px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:595px;
  top:794px;
  width:308px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u95 {
  position:absolute;
  left:656px;
  top:746px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:595px;
  top:732px;
  width:308px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u98 {
  position:absolute;
  left:607px;
  top:750px;
  width:38px;
  height:33px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:609px;
  top:760px;
  width:33px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:655px;
  top:770px;
  width:150px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:857px;
  top:752px;
  width:26px;
  height:26px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u105 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:832px;
  top:756px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:656px;
  top:806px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:595px;
  top:794px;
  width:308px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:291px;
  top:-5px;
  width:18px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:308px;
  height:1px;
}
#u111 {
  position:absolute;
  left:607px;
  top:812px;
  width:38px;
  height:33px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:609px;
  top:820px;
  width:33px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A4B3C1;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:655px;
  top:832px;
  width:150px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:857px;
  top:814px;
  width:26px;
  height:26px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u118 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:832px;
  top:818px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
