﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:145px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u3 {
  position:absolute;
  left:100px;
  top:134px;
  width:755px;
  height:51px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:51px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  white-space:nowrap;
}
