﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:368px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:435px;
  top:364px;
  width:25px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:155px;
  top:360px;
  width:31px;
  height:31px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:410px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:435px;
  top:408px;
  width:25px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:408px;
  width:26px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:157px;
  top:320px;
  width:31px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:191px;
  top:322px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:406px;
  top:332px;
  width:45px;
  height:2px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:408px;
  top:322px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:452px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:435px;
  top:450px;
  width:25px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:190px;
  top:495px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:435px;
  top:493px;
  width:25px;
  height:25px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:159px;
  top:493px;
  width:26px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:153px;
  top:307px;
  width:323px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u33 {
  position:absolute;
  left:165px;
  top:291px;
  width:66px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:125px;
  top:32px;
  width:190px;
  height:33px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:33px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:60px;
  width:3740px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:3723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3740px;
  height:1px;
}
#u38 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:75px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u39 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:125px;
  top:200px;
  width:360px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:139px;
  top:240px;
  width:50px;
  height:28px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:441px;
  top:240px;
  width:31px;
  height:31px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:159px;
  top:450px;
  width:26px;
  height:26px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1135px;
  top:502px;
  width:58px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:41px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:58px;
  height:1px;
}
#u49 {
  position:absolute;
  left:1203px;
  top:502px;
  width:173px;
  height:54px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:54px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:800px;
  top:200px;
  width:360px;
  height:640px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u52 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:865px;
  top:368px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1110px;
  top:364px;
  width:25px;
  height:25px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:830px;
  top:360px;
  width:31px;
  height:31px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:865px;
  top:410px;
  width:91px;
  height:25px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:1110px;
  top:408px;
  width:25px;
  height:25px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:834px;
  top:408px;
  width:26px;
  height:26px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u64 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:832px;
  top:320px;
  width:31px;
  height:31px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:866px;
  top:322px;
  width:73px;
  height:25px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1081px;
  top:332px;
  width:45px;
  height:2px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:2px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1083px;
  top:322px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:865px;
  top:452px;
  width:37px;
  height:25px;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1110px;
  top:450px;
  width:25px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:865px;
  top:535px;
  width:109px;
  height:25px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1110px;
  top:533px;
  width:25px;
  height:25px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:834px;
  top:533px;
  width:26px;
  height:26px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:828px;
  top:307px;
  width:323px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u84 {
  position:absolute;
  left:840px;
  top:291px;
  width:66px;
  height:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:800px;
  top:200px;
  width:360px;
  height:75px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u87 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:800px;
  top:200px;
  width:360px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:814px;
  top:240px;
  width:50px;
  height:28px;
  font-size:20px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1116px;
  top:240px;
  width:31px;
  height:31px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:834px;
  top:450px;
  width:26px;
  height:26px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u95 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:865px;
  top:494px;
  width:38px;
  height:21px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:21px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1110px;
  top:492px;
  width:25px;
  height:25px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:834px;
  top:492px;
  width:26px;
  height:26px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u101 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
