﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:549px;
  top:140px;
  width:211px;
  height:112px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:113px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:112px;
}
#u2 {
  position:absolute;
  left:288px;
  top:110px;
  width:215px;
  height:382px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:383px;
}
#u3 {
  position:absolute;
  left:2px;
  top:183px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u4 {
  position:absolute;
  left:288px;
  top:110px;
  width:215px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u6 {
  position:absolute;
  left:288px;
  top:126px;
  width:215px;
  height:38px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
}
#u8 {
  position:absolute;
  left:284px;
  top:127px;
  width:38px;
  height:34px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u10 {
  position:absolute;
  left:330px;
  top:324px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:433px;
  top:324px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:302px;
  top:174px;
  width:186px;
  height:145px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:145px;
}
#u15 {
  position:absolute;
  left:2px;
  top:64px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
