﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:180px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:180px;
  width:360px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:180px;
  width:360px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:138px;
  top:220px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:108px;
  top:217px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:600px;
  top:207px;
  width:310px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:20px;
  width:121px;
  height:33px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u15 {
  position:absolute;
  left:138px;
  top:245px;
  width:452px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:435px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:452px;
  height:1px;
}
#u16 {
  position:absolute;
  left:220px;
  top:225px;
  width:370px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u17 {
  position:absolute;
  left:600px;
  top:252px;
  width:310px;
  height:38px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:980px;
  top:180px;
  width:360px;
  height:640px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u20 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:980px;
  top:180px;
  width:360px;
  height:75px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:980px;
  top:180px;
  width:360px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1018px;
  top:220px;
  width:102px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:988px;
  top:217px;
  width:30px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1420px;
  top:211px;
  width:310px;
  height:35px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1330px;
  top:224px;
  width:70px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  height:1px;
}
#u32 {
  position:absolute;
  left:1280px;
  top:218px;
  width:40px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
