﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:527px;
  top:66px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u2 {
  position:absolute;
  left:50px;
  top:140px;
  width:3952px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
#u3 {
  position:absolute;
  left:50px;
  top:20px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u5 {
  position:absolute;
  left:50px;
  top:197px;
  width:181px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:51px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
}
#u7 {
  position:absolute;
  left:90px;
  top:295px;
  width:290px;
  height:515px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u8 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u9 {
  position:absolute;
  left:90px;
  top:295px;
  width:290px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u11 {
  position:absolute;
  left:213px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u13 {
  position:absolute;
  left:275px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:90px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u17 {
  position:absolute;
  left:152px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u19 {
  position:absolute;
  left:166px;
  top:452px;
  width:138px;
  height:133px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:134px;
}
#u20 {
  position:absolute;
  left:2px;
  top:58px;
  width:134px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
}
#u21 {
  position:absolute;
  left:142px;
  top:605px;
  width:187px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
}
#u23 {
  position:absolute;
  left:214px;
  top:723px;
  width:41px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u25 {
  position:absolute;
  left:337px;
  top:315px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u27 {
  position:absolute;
  left:224px;
  top:738px;
  width:21px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:14px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:21px;
  height:2px;
}
#u28 {
  position:absolute;
  left:230px;
  top:731px;
  width:10px;
  height:24px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:14px;
}
#u28_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:24px;
}
#u29 {
  position:absolute;
  left:555px;
  top:295px;
  width:290px;
  height:515px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:516px;
}
#u30 {
  position:absolute;
  left:2px;
  top:250px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u31 {
  position:absolute;
  left:555px;
  top:295px;
  width:290px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u33 {
  position:absolute;
  left:677px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u35 {
  position:absolute;
  left:739px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u37 {
  position:absolute;
  left:555px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u39 {
  position:absolute;
  left:617px;
  top:315px;
  width:62px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:58px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u41 {
  position:absolute;
  left:688px;
  top:723px;
  width:41px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u43 {
  position:absolute;
  left:801px;
  top:315px;
  width:43px;
  height:26px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
}
#u45 {
  position:absolute;
  left:698px;
  top:738px;
  width:21px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:4px;
  width:21px;
  height:2px;
}
#u46 {
  position:absolute;
  left:704px;
  top:731px;
  width:10px;
  height:24px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:14px;
}
#u46_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:24px;
}
#u47 {
  position:absolute;
  left:555px;
  top:436px;
  width:288px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u48 {
  position:absolute;
  left:555px;
  top:528px;
  width:288px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u49 {
  position:absolute;
  left:555px;
  top:620px;
  width:288px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:14px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u50 {
  position:absolute;
  left:571px;
  top:382px;
  width:27px;
  height:18px;
  color:#797979;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u52 {
  position:absolute;
  left:571px;
  top:406px;
  width:27px;
  height:18px;
  color:#797979;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u54 {
  position:absolute;
  left:603px;
  top:370px;
  width:55px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:32px;
}
#u56 {
  position:absolute;
  left:607px;
  top:406px;
  width:27px;
  height:18px;
  color:#797979;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u58 {
  position:absolute;
  left:789px;
  top:386px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u60 {
  position:absolute;
  left:789px;
  top:384px;
  width:19px;
  height:19px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u62 {
  position:absolute;
  left:571px;
  top:476px;
  width:27px;
  height:18px;
  color:#797979;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u64 {
  position:absolute;
  left:571px;
  top:500px;
  width:27px;
  height:18px;
  color:#797979;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u66 {
  position:absolute;
  left:605px;
  top:464px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#797979;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u68 {
  position:absolute;
  left:607px;
  top:500px;
  width:79px;
  height:18px;
  color:#797979;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u70 {
  position:absolute;
  left:789px;
  top:481px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u72 {
  position:absolute;
  left:789px;
  top:478px;
  width:19px;
  height:19px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u74 {
  position:absolute;
  left:571px;
  top:567px;
  width:27px;
  height:18px;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u76 {
  position:absolute;
  left:571px;
  top:591px;
  width:27px;
  height:18px;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u78 {
  position:absolute;
  left:605px;
  top:555px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u80 {
  position:absolute;
  left:607px;
  top:591px;
  width:66px;
  height:18px;
  color:#000000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u82 {
  position:absolute;
  left:789px;
  top:572px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u84 {
  position:absolute;
  left:811px;
  top:570px;
  width:19px;
  height:19px;
  color:#CC3333;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u86 {
  position:absolute;
  left:571px;
  top:660px;
  width:27px;
  height:18px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u88 {
  position:absolute;
  left:571px;
  top:684px;
  width:53px;
  height:18px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u90 {
  position:absolute;
  left:605px;
  top:648px;
  width:71px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u92 {
  position:absolute;
  left:629px;
  top:684px;
  width:66px;
  height:18px;
  color:#000000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u94 {
  position:absolute;
  left:90px;
  top:267px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
}
#u96 {
  position:absolute;
  left:555px;
  top:266px;
  width:113px;
  height:22px;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:23px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u98 {
  position:absolute;
  left:832px;
  top:435px;
  width:80px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:14px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u99 {
  position:absolute;
  left:922px;
  top:384px;
  width:318px;
  height:228px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:229px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:228px;
}
#u101 {
  position:absolute;
  left:789px;
  top:664px;
  width:42px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u102 {
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u103 {
  position:absolute;
  left:811px;
  top:662px;
  width:19px;
  height:19px;
  color:#CC3333;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u105 {
  position:absolute;
  left:384px;
  top:740px;
  width:161px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:152px;
  top:-5px;
  width:14px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:161px;
  height:1px;
}
#u106 {
  position:absolute;
  left:410px;
  top:723px;
  width:124px;
  height:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u108 {
  position:absolute;
  left:921px;
  top:660px;
  width:224px;
  height:36px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:36px;
}
#u110 {
  position:absolute;
  left:739px;
  top:666px;
  width:172px;
  height:10px;
}
#u110_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u110_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:14px;
  height:20px;
}
#u110_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u111 {
  position:absolute;
  left:831px;
  top:738px;
  width:80px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:14px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u112 {
  position:absolute;
  left:928px;
  top:736px;
  width:113px;
  height:18px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
