﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:550px;
  top:60px;
  width:3215px;
  height:3460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3215px;
  height:3460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1722px;
  width:3211px;
  visibility:hidden;
  word-wrap:break-word;
}
