﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:149px;
  top:222px;
  width:381px;
  height:678px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:678px;
}
#u1 {
  position:absolute;
  left:2px;
  top:331px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:16px;
}
#u2 {
  position:absolute;
  left:400px;
  top:440px;
  width:232px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:232px;
  height:1px;
}
#u3 {
  position:absolute;
  left:642px;
  top:438px;
  width:53px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u5 {
  position:absolute;
  left:487px;
  top:66px;
  width:235px;
  height:58px;
  font-family:'', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:59px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:67px;
}
#u7 {
  position:absolute;
  left:20px;
  top:20px;
  width:457px;
  height:120px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#990000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:121px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:120px;
}
#u9 {
  position:absolute;
  left:20px;
  top:140px;
  width:3952px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:3943px;
  top:-5px;
  width:14px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:3952px;
  height:1px;
}
