﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:218px;
  top:158px;
  width:245px;
  height:382px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:383px;
}
#u1 {
  position:absolute;
  left:2px;
  top:171px;
  width:241px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:218px;
  top:158px;
  width:245px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:53px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:277px;
  top:170px;
  width:76px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:281px;
  top:188px;
  width:128px;
  height:13px;
  font-size:9px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:429px;
  top:168px;
  width:24px;
  height:10px;
  font-size:9px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:236px;
  top:170px;
  width:31px;
  height:29px;
  font-size:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:453px;
  top:180px;
  width:100px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:91px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u13 {
  position:absolute;
  left:563px;
  top:180px;
  width:311px;
  height:189px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:190px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:984px;
  top:358px;
  width:236px;
  height:89px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:89px;
}
#u16 {
  position:absolute;
  left:2px;
  top:36px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:984px;
  top:454px;
  width:235px;
  height:79px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:79px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:985px;
  top:806px;
  width:249px;
  height:84px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:84px;
}
#u20 {
  position:absolute;
  left:2px;
  top:34px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:984px;
  top:550px;
  width:232px;
  height:82px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:82px;
}
#u22 {
  position:absolute;
  left:2px;
  top:33px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:985px;
  top:639px;
  width:233px;
  height:82px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:82px;
}
#u24 {
  position:absolute;
  left:2px;
  top:33px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:977px;
  top:715px;
  width:257px;
  height:86px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:86px;
}
#u26 {
  position:absolute;
  left:2px;
  top:35px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:997px;
  top:300px;
  width:253px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:940px;
  top:158px;
  width:10px;
  height:732px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:723px;
  width:20px;
  height:14px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:732px;
}
#u30 {
  position:absolute;
  left:997px;
  top:210px;
  width:275px;
  height:54px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:55px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
