﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:3px;
  top:93px;
  width:1433px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1424px;
  top:-5px;
  width:14px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1433px;
  height:1px;
}
#u1 {
  position:absolute;
  left:32px;
  top:50px;
  width:288px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:41px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:149px;
  width:900px;
  height:351px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:352px;
}
#u4 {
  position:absolute;
  left:2px;
  top:168px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:112px;
  top:149px;
  width:10px;
  height:351px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:342px;
  width:20px;
  height:14px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:351px;
}
#u6 {
  position:absolute;
  left:50px;
  top:149px;
  width:67px;
  height:61px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:62px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:68px;
  top:171px;
  width:27px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:170px;
  top:270px;
  width:737px;
  height:105px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:264px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:260px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:364px;
  top:0px;
  width:243px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:239px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:607px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:40px;
  width:264px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:364px;
  top:40px;
  width:243px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:239px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:607px;
  top:40px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:70px;
  width:264px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:364px;
  top:70px;
  width:243px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:607px;
  top:70px;
  width:125px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:170px;
  top:225px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35_input {
  font-family:'应用字体';
}
#u36 {
  position:absolute;
  left:156px;
  top:550px;
  width:760px;
  height:300px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:301px;
}
#u37 {
  position:absolute;
  left:2px;
  top:142px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:194px;
  top:600px;
  width:27px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:236px;
  top:596px;
  width:200px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40_input {
  font-family:'应用字体';
}
#u41 {
  position:absolute;
  left:194px;
  top:649px;
  width:27px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:236px;
  top:645px;
  width:200px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43_input {
  font-family:'应用字体';
}
#u44 {
  position:absolute;
  left:194px;
  top:724px;
  width:27px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:236px;
  top:720px;
  width:200px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46_input {
  font-family:'应用字体';
}
#u47 {
  position:absolute;
  left:236px;
  top:775px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47_input {
  font-family:'应用字体';
}
#u48 {
  position:absolute;
  left:236px;
  top:680px;
  width:267px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:215px;
  top:250px;
  width:10px;
  height:290px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:281px;
  width:20px;
  height:14px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:290px;
}
