﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:248px;
  top:100px;
  width:142px;
  height:82px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:82px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:248px;
  top:219px;
  width:168px;
  height:97px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:97px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:248px;
  top:351px;
  width:337px;
  height:151px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:151px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:248px;
  top:516px;
  width:142px;
  height:133px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:133px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:248px;
  top:687px;
  width:727px;
  height:154px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:154px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  white-space:nowrap;
}
