﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2347px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:597px;
  top:120px;
  width:1750px;
  height:1290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1751px;
  height:1291px;
}
#u1 {
  position:absolute;
  left:2px;
  top:637px;
  width:1746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1310px;
  top:505px;
  width:164px;
  height:146px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:147px;
}
#u3 {
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1477px;
  top:572px;
  width:152px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:152px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1508px;
  top:556px;
  width:46px;
  height:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1161px;
  top:572px;
  width:150px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:141px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  height:1px;
}
#u8 {
  position:absolute;
  left:1154px;
  top:579px;
  width:10px;
  height:124px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:115px;
  width:20px;
  height:14px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:124px;
}
#u9 {
  position:absolute;
  left:1180px;
  top:556px;
  width:46px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1625px;
  top:578px;
  width:10px;
  height:133px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:124px;
  width:20px;
  height:14px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:133px;
}
#u12 {
  position:absolute;
  left:1077px;
  top:703px;
  width:164px;
  height:146px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:147px;
}
#u13 {
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1548px;
  top:711px;
  width:164px;
  height:146px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:147px;
}
#u15 {
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1154px;
  top:847px;
  width:10px;
  height:138px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:129px;
  width:20px;
  height:14px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:138px;
}
#u17 {
  position:absolute;
  left:1069px;
  top:995px;
  width:180px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1557px;
  top:997px;
  width:180px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1625px;
  top:857px;
  width:10px;
  height:130px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:121px;
  width:20px;
  height:14px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:130px;
}
#u22 {
  position:absolute;
  left:1174px;
  top:897px;
  width:15px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1600px;
  top:903px;
  width:15px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1154px;
  top:1075px;
  width:10px;
  height:200px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:191px;
  width:20px;
  height:14px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u27 {
  position:absolute;
  left:1632px;
  top:1077px;
  width:10px;
  height:200px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:191px;
  width:20px;
  height:14px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u28 {
  position:absolute;
  left:1345px;
  top:1245px;
  width:100px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1156px;
  top:1270px;
  width:189px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:180px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1446px;
  top:1270px;
  width:193px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:184px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:193px;
  height:1px;
}
#u32 {
  position:absolute;
  left:1345px;
  top:261px;
  width:100px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1341px;
  top:367px;
  width:100px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1388px;
  top:309px;
  width:10px;
  height:50px;
}
#u36_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u36_end {
  position:absolute;
  left:-5px;
  top:41px;
  width:20px;
  height:14px;
}
#u36_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u37 {
  position:absolute;
  left:1387px;
  top:434px;
  width:10px;
  height:70px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:61px;
  width:20px;
  height:14px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u38 {
  position:absolute;
  left:940px;
  top:771px;
  width:137px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:128px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:137px;
  height:1px;
}
#u39 {
  position:absolute;
  left:1023px;
  top:745px;
  width:46px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1714px;
  top:779px;
  width:162px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:14px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:162px;
  height:1px;
}
#u42 {
  position:absolute;
  left:1763px;
  top:753px;
  width:18px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:935px;
  top:775px;
  width:10px;
  height:215px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:206px;
  width:20px;
  height:14px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:215px;
}
#u45 {
  position:absolute;
  left:830px;
  top:697px;
  width:150px;
  height:90px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:91px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1800px;
  top:647px;
  width:150px;
  height:90px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:91px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1336px;
  top:1024px;
  width:150px;
  height:18px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1275px;
  top:1030px;
  width:53px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:14px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  height:1px;
}
#u52 {
  position:absolute;
  left:1496px;
  top:1030px;
  width:53px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:14px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1492px;
  top:360px;
  width:150px;
  height:36px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1435px;
  top:371px;
  width:53px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:44px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:53px;
  height:1px;
}
#u56 {
  position:absolute;
  left:597px;
  top:212px;
  width:1750px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:1741px;
  top:-5px;
  width:14px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1750px;
  height:1px;
}
#u57 {
  position:absolute;
  left:622px;
  top:155px;
  width:1308px;
  height:50px;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1309px;
  height:51px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:850px;
  top:1135px;
  width:180px;
  height:80px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1785px;
  top:1130px;
  width:180px;
  height:80px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u62 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1871px;
  top:784px;
  width:10px;
  height:211px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:202px;
  width:20px;
  height:14px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:211px;
}
#u64 {
  position:absolute;
  left:850px;
  top:995px;
  width:180px;
  height:80px;
  color:#FF0000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:935px;
  top:1075px;
  width:10px;
  height:60px;
}
#u66_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u66_end {
  position:absolute;
  left:-5px;
  top:51px;
  width:20px;
  height:14px;
}
#u66_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:60px;
}
#u67 {
  position:absolute;
  left:1785px;
  top:995px;
  width:180px;
  height:80px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1870px;
  top:1075px;
  width:10px;
  height:55px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:46px;
  width:20px;
  height:14px;
}
#u69_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
