﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:17px;
  width:309px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:31px;
  top:64px;
  width:1229px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1212px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1229px;
  height:1px;
}
#u3 {
  position:absolute;
  left:228px;
  top:130px;
  width:434px;
  height:771px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:771px;
}
#u4 {
  position:absolute;
  left:2px;
  top:378px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:228px;
  top:130px;
  width:434px;
  height:771px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:771px;
}
#u6 {
  position:absolute;
  left:2px;
  top:378px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:310px;
  top:400px;
  width:270px;
  height:170px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u8 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:310px;
  top:449px;
  width:270px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u10 {
  position:absolute;
  left:414px;
  top:415px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:369px;
  top:466px;
  width:158px;
  height:16px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:310px;
  top:520px;
  width:270px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u15 {
  position:absolute;
  left:440px;
  top:527px;
  width:10px;
  height:42px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u16 {
  position:absolute;
  left:360px;
  top:538px;
  width:37px;
  height:16px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:499px;
  top:538px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:334px;
  top:496px;
  width:24px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:366px;
  top:499px;
  width:81px;
  height:16px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:715px;
  top:527px;
  width:959px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:80px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:228px;
  top:959px;
  width:434px;
  height:771px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:771px;
}
#u27 {
  position:absolute;
  left:2px;
  top:378px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:228px;
  top:959px;
  width:434px;
  height:771px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:771px;
}
#u29 {
  position:absolute;
  left:2px;
  top:378px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:310px;
  top:1229px;
  width:270px;
  height:170px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:170px;
}
#u31 {
  position:absolute;
  left:2px;
  top:77px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:310px;
  top:1278px;
  width:270px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u33 {
  position:absolute;
  left:414px;
  top:1244px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:340px;
  top:1295px;
  width:218px;
  height:16px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:310px;
  top:1349px;
  width:270px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u38 {
  position:absolute;
  left:440px;
  top:1356px;
  width:10px;
  height:42px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u39 {
  position:absolute;
  left:360px;
  top:1367px;
  width:37px;
  height:16px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:499px;
  top:1367px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:334px;
  top:1325px;
  width:24px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:366px;
  top:1328px;
  width:81px;
  height:16px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:716px;
  top:1234px;
  width:639px;
  height:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:48px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:485px;
  top:418px;
  width:220px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u50 {
  position:absolute;
  left:715px;
  top:415px;
  width:54px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:488px;
  top:470px;
  width:220px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u53 {
  position:absolute;
  left:715px;
  top:466px;
  width:156px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:228px;
  top:1820px;
  width:453px;
  height:66px;
  font-size:16px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:66px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
