﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1128px;
  top:210px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1128px;
  top:210px;
  width:360px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1128px;
  top:236px;
  width:360px;
  height:55px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1128px;
  top:236px;
  width:360px;
  height:55px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1158px;
  top:246px;
  width:160px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1128px;
  top:252px;
  width:23px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:774px;
  top:286px;
  width:246px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:722px;
  top:379px;
  width:350px;
  height:374px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:375px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1145px;
  top:306px;
  width:326px;
  height:47px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u17 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1160px;
  top:319px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1145px;
  top:353px;
  width:326px;
  height:47px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1160px;
  top:366px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1145px;
  top:399px;
  width:326px;
  height:47px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1160px;
  top:412px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1145px;
  top:463px;
  width:326px;
  height:47px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:48px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1160px;
  top:476px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1445px;
  top:316px;
  width:26px;
  height:26px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1445px;
  top:364px;
  width:26px;
  height:26px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1445px;
  top:409px;
  width:26px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1445px;
  top:473px;
  width:26px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1426px;
  top:319px;
  width:21px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:12px;
  top:105px;
  width:2050px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:2041px;
  top:-5px;
  width:14px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:2050px;
  height:2px;
}
#u43 {
  position:absolute;
  left:23px;
  top:38px;
  width:193px;
  height:55px;
  font-size:48px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:56px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1435px;
  top:368px;
  width:10px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:300px;
  top:210px;
  width:360px;
  height:640px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:641px;
}
#u48 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:300px;
  top:210px;
  width:360px;
  height:25px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:307px;
  top:238px;
  width:350px;
  height:55px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:56px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:309px;
  top:435px;
  width:81px;
  height:42px;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:398px;
  top:434px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:484px;
  top:434px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:309px;
  top:293px;
  width:342px;
  height:131px;
  font-size:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:132px;
}
#u60 {
  position:absolute;
  left:2px;
  top:54px;
  width:338px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:309px;
  top:487px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u62 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:315px;
  top:493px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:373px;
  top:491px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:370px;
  top:514px;
  width:66px;
  height:11px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:571px;
  top:502px;
  width:65px;
  height:30px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69_input {
  font-family:'应用字体';
}
#u70 {
  position:absolute;
  left:371px;
  top:528px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:309px;
  top:557px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:315px;
  top:563px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u75 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:373px;
  top:561px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:370px;
  top:584px;
  width:66px;
  height:11px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:571px;
  top:572px;
  width:65px;
  height:30px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80_input {
  font-family:'应用字体';
}
#u81 {
  position:absolute;
  left:371px;
  top:598px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:309px;
  top:627px;
  width:342px;
  height:60px;
  color:#CCCCCC;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:61px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:315px;
  top:633px;
  width:45px;
  height:44px;
  color:#CCCCCC;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:373px;
  top:631px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:370px;
  top:654px;
  width:66px;
  height:11px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:11px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:571px;
  top:642px;
  width:65px;
  height:30px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u91_input {
  font-family:'应用字体';
}
#u92 {
  position:absolute;
  left:371px;
  top:668px;
  width:108px;
  height:11px;
  font-size:10px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:308px;
  top:245px;
  width:345px;
  height:40px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:41px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:350px;
  top:252px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:616px;
  top:247px;
  width:34px;
  height:35px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:316px;
  top:253px;
  width:24px;
  height:24px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:572px;
  top:434px;
  width:81px;
  height:43px;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:309px;
  top:697px;
  width:342px;
  height:132px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:133px;
}
#u105 {
  position:absolute;
  left:2px;
  top:58px;
  width:338px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:651px;
  top:255px;
  width:477px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:468px;
  top:-5px;
  width:14px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:4px;
  width:477px;
  height:2px;
}
#u107 {
  position:absolute;
  left:642px;
  top:250px;
  width:5px;
  height:5px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
