﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:275px;
  top:120px;
  width:795px;
  height:982px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:982px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  word-wrap:break-word;
}
