﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:49px;
  top:40px;
  width:531px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:95px;
  width:1585px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1568px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1585px;
  height:1px;
}
#u3 {
  position:absolute;
  left:80px;
  top:180px;
  width:380px;
  height:90px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u4 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:170px;
  top:195px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:170px;
  top:240px;
  width:40px;
  height:18px;
  color:#A1A1A1;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:410px;
  top:195px;
  width:33px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:100px;
  top:200px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:170px;
  top:225px;
  width:200px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  height:4px;
}
#u14 {
  position:absolute;
  left:170px;
  top:225px;
  width:90px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:3px;
  width:90px;
  height:4px;
}
#u15 {
  position:absolute;
  left:330px;
  top:240px;
  width:27px;
  height:18px;
  color:#A1A1A1;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:300px;
  width:380px;
  height:90px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u18 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:315px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:170px;
  top:360px;
  width:53px;
  height:18px;
  color:#A1A1A1;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:410px;
  top:315px;
  width:33px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:100px;
  top:320px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:170px;
  top:345px;
  width:200px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  height:4px;
}
#u28 {
  position:absolute;
  left:170px;
  top:345px;
  width:90px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:3px;
  width:90px;
  height:4px;
}
#u29 {
  position:absolute;
  left:526px;
  top:222px;
  width:337px;
  height:54px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:54px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:80px;
  top:415px;
  width:380px;
  height:90px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u32 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:170px;
  top:436px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:170px;
  top:467px;
  width:144px;
  height:18px;
  color:#A1A1A1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:410px;
  top:430px;
  width:33px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:100px;
  top:435px;
  width:50px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
