﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:30px;
  width:129px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:12px;
  top:80px;
  width:998px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:998px;
  height:1px;
}
#u3 {
  position:absolute;
  left:72px;
  top:140px;
  width:729px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:46px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:60px;
  top:340px;
  width:824px;
  height:340px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:340px;
}
#u6 {
  position:absolute;
  left:2px;
  top:162px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:94px;
  top:370px;
  width:760px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:756px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:504px;
  width:730px;
  height:69px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:69px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:71px;
  top:227px;
  width:270px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:71px;
  top:280px;
  width:81px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
