﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:220px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:220px;
  width:360px;
  height:75px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:220px;
  width:360px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:20px;
  width:49px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:2500px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:2483px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2500px;
  height:1px;
}
#u9 {
  position:absolute;
  left:425px;
  top:260px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:720px;
  top:220px;
  width:360px;
  height:640px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u12 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:720px;
  top:220px;
  width:360px;
  height:75px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:75px;
}
#u14 {
  position:absolute;
  left:2px;
  top:30px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:720px;
  top:220px;
  width:360px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1045px;
  top:260px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:950px;
  top:250px;
  width:130px;
  height:130px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u20 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:950px;
  top:250px;
  width:130px;
  height:45px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:950px;
  top:293px;
  width:130px;
  height:45px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:970px;
  top:265px;
  width:36px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:970px;
  top:306px;
  width:36px;
  height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:970px;
  top:348px;
  width:36px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:950px;
  top:379px;
  width:130px;
  height:45px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:970px;
  top:392px;
  width:36px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1167px;
  top:250px;
  width:233px;
  height:100px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:100px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1060px;
  top:260px;
  width:87px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:70px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:87px;
  height:1px;
}
#u38 {
  position:absolute;
  left:411px;
  top:280px;
  width:48px;
  height:78px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:78px;
}
#u39 {
  position:absolute;
  left:2px;
  top:31px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
